<section class="flex py-[60px] px-[100px] flex-col w-full h-full">
  <article class="flex flex-col gap-6">
    <div class="flex justify-between items-center">
      <div class="flex gap-3 items-center">
        <p class="text-gray-800 text-3xl font-bold">견적 요청</p>
        <p class="text-gray-400 text-base font-semibold">
          남겨주신 연락처로 상담 연락을 드리고 있습니다.
        </p>
      </div>
      <div class="flex justify-end items-center">
        <div class="flex items-center gap-1">
          <img src="assets/icons/HouseIcon.png" />
          <p class="text-gray-600 text-base font-medium">홈</p>
        </div>
        <div class="flex p-2.5 items-center">
          <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
        </div>
        <p class="text-gray-600 text-base font-medium">견적요청</p>
      </div>
    </div>
    <div class="flex flex-col border-t-2 border-gray-800">
      <div class="flex border-b border-gray-100">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <img src="assets/icons/redCircle.png" />
          <p class="text-gray-800 text-base font-semibold min-w-max">성명</p>
        </div>
        <div class="flex py-4 px-5 content-center">
          <app-input-text placeholder="성명을 입력해주세요." />
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <img src="assets/icons/redCircle.png" />
          <p class="text-gray-800 text-base font-semibold min-w-max">이메일</p>
        </div>
        <div class="flex py-4 px-5 content-center">
          <app-input-text placeholder="메일주소를 입력해주세요." />
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <img src="assets/icons/redCircle.png" />
          <p class="text-gray-800 text-base font-semibold min-w-max">연락처</p>
        </div>

        <div class="flex py-4 px-5 content-center gap-2">
          <app-select
            class="w-[6.2rem]"
            [values]="['010','011']"
            [selectedValue]="'010'"
          />
          <p class="flex items-center text-gray-400">-</p>

          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm font-medium"
            placeholder="1234"
          />

          <p class="flex items-center text-gray-400">-</p>
          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm font-medium"
            placeholder="1234"
          />
        </div>
      </div>
      <div class="flex border-b border-gray-100 min-h-[19rem]">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <img src="assets/icons/redCircle.png" />
          <p class="text-gray-800 text-base font-semibold min-w-max">내용</p>
        </div>
        <div class="flex py-4 px-5 w-full">
          <textarea
            class="flex py-2 px-4 rounded-md border-2 border-gray-300 resize-none w-full"
            placeholder="내용을 입력해주세요."
          ></textarea>
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <img src="assets/icons/redCircle.png" />
          <p class="text-gray-800 text-base font-semibold min-w-max">
            예정 출발일
          </p>
        </div>
        <div class="flex py-4 px-5 content-center">
          <input
            type="date"
            class="flex py-2 px-4 rounded-md border-2 border-gray-300 items-center gap-2 text-sm text-gray-500 font-medium min-w-[9.5rem]"
          />
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <img src="assets/icons/redCircle.png" />
          <p class="text-gray-800 text-base font-semibold min-w-max">인원</p>
        </div>
        <div class="flex py-4 px-5 content-center gap-2">
          <app-select
            class="w-[9.5rem] text-sm"
            [values]="['1명','2명', '3명', '4명']"
            [selectedValue]="'1명'"
          />
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <img src="assets/icons/redCircle.png" />
          <p class="text-gray-800 text-base font-semibold min-w-max">지역</p>
        </div>
        <div class="flex py-4 px-5 content-center gap-2">
          <app-select
            class="w-[9.5rem] text-sm"
            [values]="['수도권','경기권', '전라권', '제주권']"
            [selectedValue]="'수도권'"
          />
        </div>
      </div>
      <div class="flex border-b border-gray-100 min-h-[19rem]">
        <div
          class="flex py-4 px-5 items-center gap-2.5 bg-gray-50 min-w-[9.5rem]"
        >
          <p class="text-gray-800 text-base font-semibold min-w-max">
            기타사항
          </p>
        </div>
        <div class="flex py-4 px-5 content-center w-full">
          <textarea
            class="flex py-2 px-4 rounded-md border-2 border-gray-300 resize-none w-full"
            placeholder="내용을 입력해주세요."
          ></textarea>
        </div>
      </div>
    </div>
    <div class="flex justify-center w-full">
      <button
        type="submit"
        class="min-w-[320px] flex py-2 px-3 justify-center bg-primary w-max h-max text-white text-center text-base font-semibold"
      >
        제출하기
      </button>
    </div>
  </article>
</section>
