input[type='date'] {
  position: relative;
  background: url(../../assets/icons/esimateCalendar.png) no-repeat center right 10px
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    
  }