<section class="flex flex-col items-start self-stretch">
  <article
    class="flex py-10 px-[100px] flex-col gap-2.5 items-start self-stretch bg-gray-100"
  >
    <div
      class="flex py-4 px-5 justify-center items-center gap-10 self-stretch rounded-sm border-2 border-gray-200"
    >
      <div class="flex gap-2">
        <div class="flex items-center gap-3">
          <img src="assets/icons/local-phone.png" />
          <p class="text-primary text-2xl font-bold leading-normal">고객센터</p>
        </div>
        <p class="text-primary text-[32px] font-bold leading-normal">
          1234-5678
        </p>
      </div>
      <img src="assets/icons/Vector.png" />
      <p class="text-slate-600 text-2xl font-bold leading-normal">
        상담 가능 시간 <span class="text-gray-800">평일/주말9:00 ~ 16:30</span>
      </p>
    </div>
  </article>
  <article
    class="flex w-full py-[60px] px-[72px] content-center items-center gap-2.5 bg-neutral-950"
  >
    <div class="flex items-start gap-[60px]">
      <img src="assets/images/smallLogo.png" />
      <div class="flex flex-col items-start gap-6">
        <div class="flex flex-col items-start gap-2">
          <div class="flex justify-center items-center gap-4">
            <p class="text-white text-base font-semibold leading-normal">
              (주)스카이필
            </p>
            <img src="assets/icons/Vector.png" />
            <p class="text-white text-base font-semibold leading-normal">
              대표이사:김병관
            </p>
            <img src="assets/icons/Vector.png" />
            <p class="text-white text-base font-semibold leading-normal">
              대표 전화번호:062-229-0055
            </p>
          </div>
          <div class="flex justify-center items-center gap-4">
            <p class="text-white text-base font-semibold leading-normal">
              사업자등록번호:118-86-01186
            </p>
            <img src="assets/icons/Vector.png" />
            <p class="text-white text-base font-semibold leading-normal">
              관광 사업자등록번호:제26002-2018-000022호
            </p>
          </div>
          <div class="flex justify-center items-center gap-4">
            <p class="text-white text-base font-semibold leading-normal">
              통신판매업신고번호:2023-광주서구-0500
            </p>
            <img src="assets/icons/Vector.png" />
            <button
              type="button"
              class="text-[#9499B3] text-base font-semibold underline"
            >
              사업자 정보 확인
            </button>
          </div>
          <div class="flex justify-center items-center gap-4">
            <p class="text-white text-base font-semibold leading-normal">
              주소 : 광주광역시 서구 화운로 126, 3
            </p>
            <img src="assets/icons/Vector.png" />
            <p class="text-white text-base font-semibold leading-normal">
              개인정보보호책임자 : 김병관
            </p>
          </div>
          <div class="flex justify-center items-center gap-4">
            <p class="text-neutral-600 text-sm font-medium">
              COPYRIGHT (C) 2022 SKYFEEL ALL RIGHT RESERVED
            </p>
          </div>
        </div>
        <div class="flex justify-center items-center gap-4">
          <button class="text-zinc-400 text-base font-semibold">
            이용약관
          </button>
          <img src="assets/icons/Vector.png" />
          <button class="text-zinc-400 text-base font-semibold">
            여행약관
          </button>
          <img src="assets/icons/Vector.png" />
          <button class="text-zinc-400 text-base font-semibold">
            여행보험약관
          </button>
          <img src="assets/icons/Vector.png" />
          <button class="text-zinc-400 text-base font-semibold">
            해외안전정보
          </button>
          <img src="assets/icons/Vector.png" />
          <button class="text-zinc-400 text-base font-semibold">
            개인정보처리방침
          </button>
        </div>
      </div>
    </div>
  </article>
</section>
