<div
  *ngIf="product"
  class="h-full max-w-[280px] flex flex-col rounded overflow-hidden border border-gray-200"
  routerLink="product-detail"
>
  <div class="relative h-[210px]">
    <div
      *ngIf="product.type !== _type.DOMESTIC"
      class="flex items-center justify-center absolute w-[60px] h-[60px] bg-primary text-white font-semibold"
    >
      해외<br />여행
    </div>
    <div
      *ngIf="product.type === _type.DOMESTIC"
      class="text-center flex items-center justify-center absolute w-[60px] h-[60px] bg-secondary text-white font-semibold"
    >
      내나라<br />여행
    </div>
    <img class="w-full h-full" [src]="product.image" />
  </div>
  <div class="flex flex-col p-4 gap-5 h-full">
    <div class="flex flex-col content-center items-start gap-2.5 self-stretch">
      <div
        class="flex py-1 px-2 items-start gap-2.5 rounded-s border border-[#BFC2D1] bg-[#EAEBF0]"
      >
        <div class="text-sm text-primary font-medium leading-normal">
          {{ product.company }}
        </div>
      </div>
    </div>
    <p class="font-semibold">
      {{ product.title }}
    </p>
    <div class="flex h-full items-end flex-1 justify-end">
      <p
        class="flex items-center gap-1 text-end text-primary text-xl not-italic font-semibold leading-normal"
      >
        {{ product.price | number }}<span class="text-sm">원~</span>
      </p>
    </div>
  </div>
</div>
