<article class="flex p-3 items-center justify-center rounded-md w-full">
  <div class="flex p-3 gap-2 rounded-md">
    <button class="p-1 rounded-md hover:bg-gray-100">
      <img src="assets/icons/&Lt.png" />
    </button>
    <button class="p-1 rounded-md hover:bg-gray-100">
      <img src="assets/icons/lt.png" />
    </button>
    <div *ngFor="let page of pages; let i = index">
      <button
        class="py-1.5 px-2.5 text-gray-700 text-sm font-semibold leading-normal rounded-md"
        (click)="changeColor(i)"
        [class.bg-primary]="selectPage === i"
        [class.text-white]="selectPage === i"
        [class.hover:bg-gray-100]="selectPage !== i"
      >
        {{ page }}
      </button>
    </div>
    <button class="p-1 rounded-md">
      <img src="assets/icons/....png" />
    </button>
    <button class="p-1 rounded-md rotate-180 hover:bg-gray-100">
      <img src="assets/icons/lt.png" />
    </button>
    <button class="p-1 rounded-md rotate-180 hover:bg-gray-100">
      <img src="assets/icons/&Lt.png" />
    </button>
  </div>
</article>
