<section class="flex flex-col py-[60px] px-[100px] justify-center">
  <article class="flex justify-end items-center w-full">
    <div class="flex items-center gap-1">
      <img src="assets/icons/HouseIcon.png" />
      <p class="text-gray-600 text-sm font-medium leading-normal">홈</p>
    </div>
    <div class="flex p-2.5 items-center">
      <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
    </div>
    <p class="text-gray-600 text-sm font-medium leading-normal">내나라여행</p>
    <div class="flex p-2.5 items-center">
      <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
    </div>
    <p class="text-gray-600 text-sm font-medium leading-normal">상품 행사</p>
    <div class="flex p-2.5 items-center">
      <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
    </div>
    <p class="text-gray-600 text-sm font-medium leading-normal">
      여행상품 상세
    </p>
  </article>
  <article class="flex gap-12">
    <div class="flex relative">
      <img src="assets/images/productDetailImage2.png" />
      <div
        class="inline-flex py-2 px-3 items-center gap-7 rounded bg-black/60 absolute bottom-5 right-5"
      >
        <button type="button">
          <img src="assets/banner/LeftFrame.png" />
        </button>
        <p class="text-white text-center text-sm font-medium leading-normal">
          1/15
        </p>
        <button type="button">
          <img src="assets/banner/LeftFrame.png" class="rotate-180" />
        </button>
      </div>
    </div>
    <div class="flex flex-col justify-between w-full">
      <p class="text-sm font-normal">
        <span class="text-gray-500"
          >상품코드[<span class="text-blue-500">ASDVDFDF</span>]</span
        >
      </p>
      <img src="assets/icons/productDetailBar2.png" />
      <p class="text-gray-800 text-2xl font-semibold">
        강원도 7박 8일 스키장 패키지
      </p>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold">여행 기간</p>
        <p class="text-gray-700 text-sm font-medium">1박 2일</p>
      </div>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold">최소출발/ 최대인원</p>
        <p class="text-gray-700 text-sm font-medium">10/30</p>
      </div>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold">상품 가격</p>
        <div class="flex gap-[60px]">
          <div class="felx flex-col gap-1.5">
            <p class="text-gray-500 text-sm font-medium">성인(12세 이상)</p>
            <p class="text-primary text-2xl font-medium">700,000원~</p>
          </div>
          <div class="felx flex-col gap-1.5">
            <p class="text-gray-500 text-sm font-medium">아동(12세 이상)</p>
            <p class="text-primary text-2xl font-medium">500,000원~</p>
          </div>
          <div class="felx flex-col gap-1.5">
            <p class="text-gray-500 text-sm font-medium">유아(2세 이상)</p>
            <p class="text-primary text-2xl font-medium">300,000원~</p>
          </div>
        </div>
      </div>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold min-w-[3.3rem]">상품 설명</p>
        <p class="text-gray-700 text-sm font-medium">
          서울에서 비행기로 1시간 거리에 있는 제주도는 한국에서 가장 큰 섬이다.
          화산 활동으로 생긴 한라산, 오름, 주상절리 등 볼거리가 풍부해 한국의
          대표적 여행지로 꼽힌다.
        </p>
      </div>
      <div class="flex gap-3">
        <div
          class="flex py-2.5 px-5 justify-center items-center gap-2.5 rounded border border-gray-200 w-full"
        >
          <img src="assets/icons/productDetailShare.png" />
          <p class="text-gray-600 text-base font-semibold">공유하기</p>
        </div>
        <div
          class="flex py-2.5 px-5 justify-center items-center gap-2.5 rounded border border-gray-200 w-full"
        >
          <img src="assets/icons/productDetailHeart.png" />
          <p class="text-gray-600 text-base font-semibold">찜하기</p>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="flex pb-[60px] px-[100px] flex-col gap-6">
  <p class="text-gray-800 text-2xl font-semibold">출발일 및 교통편 선택</p>
  <article class="flex flex-col border border-gray-200">
    <div class="flex justify-between bg-gray-100 w-full">
      <div class="flex">
        <div
          class="flex p-2.5 bg-white min-w-[36px] min-h-[36px] items-center justify-center"
        >
          <img src="assets/icons/productDetailLt.png" />
        </div>
        <div class="flex py-3 px-5 border-x border-t border-gray-300">
          <p class="text-gray-500 text-sm font-semibold">7월</p>
        </div>
        <div class="flex py-3 px-5 border-x border-t border-gray-300 bg-white">
          <p class="text-gray-500 text-sm font-semibold">8월</p>
        </div>
      </div>
      <div
        class="flex p-2.5 bg-white min-w-[36px] min-h-[36px] items-center justify-center"
      >
        <img src="assets/icons/productDetailLt.png" class="rotate-180" />
      </div>
    </div>
    <div
      class="flex p-5 flex-col gap-3 border-t border-gray-200 justify-center items-center"
    >
      <p class="text-gray-700 text-sm font-semibold">
        출발지를 선택하여 원하시는 여행상품을 확인하세요.
      </p>
      <div class="flex flex-col rounded border border-gray-100 w-full">
        <div class="flex cursor-default border border-gray-100">
          <div class="flex py-2.5 px-1.5 justify-center items-center w-full">
            <p class="text-gray-800 text-xs font-semibold">일</p>
          </div>
          <div class="flex py-2.5 px-1.5 justify-center items-center w-full">
            <p class="text-gray-800 text-xs font-semibold">월</p>
          </div>
          <div class="flex py-2.5 px-1.5 justify-center items-center w-full">
            <p class="text-gray-800 text-xs font-semibold">화</p>
          </div>
          <div class="flex py-2.5 px-1.5 justify-center items-center w-full">
            <p class="text-gray-800 text-xs font-semibold">수</p>
          </div>
          <div class="flex py-2.5 px-1.5 justify-center items-center w-full">
            <p class="text-gray-800 text-xs font-semibold">목</p>
          </div>
          <div class="flex py-2.5 px-1.5 justify-center items-center w-full">
            <p class="text-gray-800 text-xs font-semibold">금</p>
          </div>
          <div class="flex py-2.5 px-1.5 justify-center items-center w-full">
            <p class="text-gray-800 text-xs font-semibold">토</p>
          </div>
        </div>
        <div class="flex">
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">31</p>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">1</p>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">2</p>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">3</p>
          </div>
          <div
            class="flex p-2.5 border-2 border-gray-400 gap-0.5 w-full flex-col"
          >
            <p class="text-gray-800 text-xs font-medium">4</p>
            <div class="felx flex-col gap-1">
              <p class="text-gray-800 text-xs font-medium">잔여석</p>
              <p class="text-blue-800 text-xs font-medium">1/23석</p>
            </div>
          </div>
          <div
            class="flex p-2.5 border-r border-gray-100 gap-0.5 w-full flex-col"
          >
            <p class="text-gray-800 text-xs font-medium">5</p>
            <div class="felx flex-col gap-1">
              <p class="text-gray-800 text-xs font-medium">잔여석</p>
              <p class="text-blue-800 text-xs font-medium">1/26석</p>
            </div>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">6</p>
          </div>
        </div>
        <div class="flex">
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">7</p>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">8</p>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">9</p>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">10</p>
          </div>
          <div
            class="flex p-2.5 border-r border-gray-100 gap-0.5 w-full flex-col"
          >
            <p class="text-gray-800 text-xs font-medium">11</p>
            <div class="felx flex-col gap-1">
              <p class="text-gray-800 text-xs font-medium">잔여석</p>
              <p class="text-blue-800 text-xs font-medium">1/32석</p>
            </div>
          </div>
          <div
            class="flex p-2.5 border-r border-gray-100 gap-0.5 w-full flex-col"
          >
            <p class="text-gray-800 text-xs font-medium">12</p>
            <div class="felx flex-col gap-1">
              <p class="text-gray-800 text-xs font-medium">잔여석</p>
              <p class="text-blue-800 text-xs font-medium">1/24석</p>
            </div>
          </div>
          <div class="flex p-2.5 border-r border-gray-100 bg-gray-50 w-full">
            <p class="text-gray-300 text-xs font-normal">6</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="flex flex-col border border-gray-200">
    <table>
      <thead>
        <tr>
          <th>선택</th>
          <th>출/도착시간</th>
          <th>항공</th>
          <th>상품가격</th>
          <th>예약상태</th>
          <th>잔여석</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="radio" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex items-center border-b-2 border-gray-200 bg-gray-50">
      <div class="flex flex-1 py-2 px-4 w-full">
        <p class="text-gray-700 text-sm font-normal">선택</p>
      </div>
      <div class="flex flex-1 py-2 px-4 w-full">
        <p class="text-gray-700 text-sm font-normal">출/도착시간</p>
      </div>
      <div class="flex flex-1 py-2 px-4 w-full">
        <p class="text-gray-700 text-sm font-normal">항공</p>
      </div>
      <div class="flex flex-1 py-2 px-4 w-full">
        <p class="text-gray-700 text-sm font-normal">여행기간</p>
      </div>
      <div class="flex flex-1 py-2 px-4 w-full">
        <p class="text-gray-700 text-sm font-normal">상품가격</p>
      </div>
      <div class="flex flex-1 py-2 px-4 w-full justify-center">
        <p class="text-gray-700 text-sm font-normal">예약상태</p>
      </div>
      <div class="flex flex-1 py-2 px-4 w-full justify-center">
        <p class="text-gray-700 text-sm font-normal">잔여석</p>
      </div>
    </div>
    <form>
      <div class="flex border-b border-gray-200">
        <div class="flex flex-1 py-2 px-4 w-full">
          <input type="radio" />
        </div>
        <div class="flex flex-1 py-2 px-4 w-full items-center">
          <p class="text-sm font-normal flex flex-col">
            <span class="text-primary">07/ 17(화) 09:20</span>
            <span class="text-gray-700">07/ 17(화) 10:20</span>
          </p>
        </div>
        <div class="flex flex-1 flex-col w-full">
          <div class="flex py-2 px-4 w-full">
            <div class="flex items-center gap-2">
              <img src="assets/icons/asiana.png" />
              <p class="text-gray-600 text-sm font-medium">아시아나항공</p>
            </div>
          </div>
          <div class="flex py-1 px-4 w-full">
            <div class="flex items-center gap-2">
              <img src="assets/icons/asiana.png" />
              <p class="text-gray-600 text-sm font-medium">제주항공</p>
            </div>
          </div>
        </div>
        <div class="flex flex-1 py-2 px-4 items-center w-full">
          <p class="text-gray-700 text-sm font-normal">7박 8일</p>
        </div>
        <div class="flex flex-1 py-2 px-4 items-center w-full">
          <p class="text-gray-700 text-sm font-normal">700,000원</p>
        </div>
        <div class="flex flex-1 py-2 px-4 items-center w-full justify-center">
          <p class="text-gray-700 text-sm font-normal">1석</p>
        </div>
        <div class="flex flex-1 py-2 px-4 items-center w-full justify-center">
          <p class="text-gray-700 text-sm font-normal">1석</p>
        </div>
      </div>
    </form>
  </article>
  <article class="flex gap-8">
    <app-product-information />
    <div class="flex flex-col border border-gray-200 w-full">
      <div class="flex p-5">
        <div class="flex flex-col gap-6">
          <p class="text-gray-800 text-xl font-semibold">일정</p>
          <div class="flex gap-6 items-center">
            <img src="assets/icons/airplane.png" />
            <p class="text-gray-800 text-base font-semibold">항공</p>
          </div>
          <div class="flex flex-col gap-5">
            <p class="text-gray-800 text-base font-semibold">7박 8일</p>
            <div class="flex flex-col gap-1">
              <p class="text-gray-700 text-sm font-semibold">출발</p>
              <div class="flex gap-1 items-center">
                <p class="text-gray-600 text-sm font-medium">
                  2023.07.17(토) 9:30
                </p>
                <p class="text-gray-400 text-base font-medium">-></p>
                <p class="text-gray-600 text-sm font-medium">
                  2023.07.17(토)10:20
                </p>
              </div>
              <p class="text-gray-400 text-sm font-medium">
                총 01시간 10분 소요
              </p>
              <div class="flex items-center gap-2">
                <img src="assets/icons/asiana.png" />
                <p class="text-gray-600 text-center text-sm font-medium">
                  아시아나항공
                </p>
                <p class="text-gray-500 text-center text-sm font-medium">
                  BX188
                </p>
              </div>
            </div>
            <div class="flex flex-col gap-1">
              <p class="text-gray-700 text-sm font-semibold">도착</p>
              <div class="flex gap-1 items-center">
                <p class="text-gray-600 text-sm font-medium">
                  2023.07.12(월) 16:30
                </p>
                <p class="text-gray-400 text-base font-medium">-></p>
                <p class="text-gray-600 text-sm font-medium">
                  2023.07.12(월)17:15
                </p>
              </div>
              <p class="text-gray-400 text-sm font-medium">
                총 01시간 10분 소요
              </p>
              <div class="flex items-center gap-2">
                <img src="assets/icons/asiana.png" />
                <p class="text-gray-600 text-center text-sm font-medium">
                  아시아나항공
                </p>
                <p class="text-gray-500 text-center text-sm font-medium">
                  BX188
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex p-5 border-t border-gray-200">
        <div class="flex flex-col gap-6 w-full">
          <p class="text-gray-800 text-xl font-semibold">인원선택</p>
          <div class="flex justify-between items-center w-full">
            <div class="flex flex-col gap-1.5">
              <p class="text-gray-400 text-sm font-medium">성인(12세 이상)</p>
              <p class="text-gray-800 text-2xl font-medium">700,000원</p>
            </div>
            <div class="flex border border-gray-300">
              <button type="button" class="flex p-2.5 items-center gap-2.5">
                <img src="assets/icons/productDetailMinus.png" />
              </button>
              <div class="flex p-4 items-center border-x border-x-gray-200">
                <p
                  class="text-[#374151] text-center text-sm not-italic leading-normal"
                >
                  1
                </p>
              </div>
              <button type="button" class="flex p-2.5 items-center gap-2.5">
                <img
                  src="assets/icons/productDetailPlus.png"
                  class="rotate-180"
                />
              </button>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <div class="flex flex-col gap-1.5">
              <p class="text-gray-400 text-sm font-medium">아동(12세 이상)</p>
              <p class="text-gray-800 text-2xl font-medium">500,000원</p>
            </div>
            <div class="flex border border-gray-300">
              <button type="button" class="flex p-2.5 items-center gap-2.5">
                <img src="assets/icons/productDetailMinus.png" />
              </button>
              <div class="flex p-4 items-center border-x border-x-gray-200">
                <p
                  class="text-[#374151] text-center text-sm not-italic leading-normal"
                >
                  1
                </p>
              </div>
              <button type="button" class="flex p-2.5 items-center gap-2.5">
                <img
                  src="assets/icons/productDetailPlus.png"
                  class="rotate-180"
                />
              </button>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <div class="flex flex-col gap-1.5">
              <p class="text-gray-400 text-sm font-medium">유아(2세 이상)</p>
              <p class="text-gray-800 text-2xl font-medium">300,000원</p>
            </div>
            <div class="flex border border-gray-300">
              <button type="button" class="flex p-2.5 items-center gap-2.5">
                <img src="assets/icons/productDetailMinus.png" />
              </button>
              <div class="flex p-4 items-center border-x border-x-gray-200">
                <p
                  class="text-[#374151] text-center text-sm not-italic leading-normal"
                >
                  1
                </p>
              </div>
              <button type="button" class="flex p-2.5 items-center gap-2.5">
                <img
                  src="assets/icons/productDetailPlus.png"
                  class="rotate-180"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex p-5 w-full bg-gray-100">
        <div class="flex justify-between items-center w-full">
          <p class="text-gray-600 text-sm font-bold">총 합계</p>
          <div class="flex gap-1 items-end">
            <p class="text-red-900 text-3xl font-bold">499,000</p>
            <p class="text-gray-600 text-sm font-medium">원~</p>
          </div>
        </div>
      </div>
      <div class=""></div>
    </div>
  </article>
</section>
