<section class="flex py-[60px] px-[100px] flex-col gap-[60px]">
  <article class="flex flex-col gap-6">
    <div class="flex justify-between items-center">
      <p class="text-gray-800 text-[28px] font-bold leading-normal">
        예약 상세
      </p>
      <div class="flex justify-end items-center">
        <div class="flex items-center gap-1">
          <img src="assets/icons/HouseIcon.png" />
          <p class="text-gray-600 text-sm font-medium leading-normal">홈</p>
        </div>
        <div class="flex p-2.5 items-center">
          <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
        </div>
        <p class="text-gray-600 text-sm font-medium leading-normal">
          마이페이지
        </p>
        <div class="flex p-2.5 items-center">
          <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
        </div>
        <p class="text-gray-600 text-sm font-medium leading-normal">예약내역</p>
        <div class="flex p-2.5 items-center">
          <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
        </div>
        <p class="text-gray-600 text-sm font-medium leading-normal">예약상세</p>
      </div>
    </div>
    <div class="text-gray-800 text-2xl font-semibold">예약 정보</div>
    <p class="text-gray-800 text-xl font-semibold">
      김도은님의 예약번호는 <span class="text-[#3C8EEE]">2323123</span> 입니다.
    </p>
    <div class="border w-full h-0 border-gray-800"></div>
    <div class="flex items-center gap-6">
      <div class="flex flex-col gap-6 w-full">
        <p class="text-gray-800 text-xl font-semibold min-h-[96px]">
          여제주 한달살기 상품명이 들어가는 구간입니다. 상품명이 길어지면 이렇게
          보여집니다.
        </p>
        <div class="flex items-center gap-[60px]">
          <div class="flex flex-col gap-1">
            <p class="text-gray-700 text-sm font-semibold">출발</p>
            <div class="flex items-center gap-2">
              <img src="assets/icons/asiana.png" />
              <p class="text-gray-600 text-center text-sm font-medium">
                아시아나항공
              </p>
            </div>
            <div class="flex gap-1 items-center">
              <p class="text-gray-600 text-sm font-medium">
                2023.07.17(토) 9:30
              </p>
              <p class="text-gray-400 text-base font-medium">-></p>
              <p class="text-gray-600 text-sm font-medium">
                2023.07.17(토)10:20
              </p>
            </div>
            <p class="text-gray-400 text-sm font-medium">총 01시간 10분 소요</p>
          </div>
          <div class="flex flex-col gap-1">
            <p class="text-gray-700 text-sm font-semibold">도착</p>
            <div class="flex items-center gap-2">
              <img src="assets/icons/asiana.png" />
              <p class="text-gray-600 text-center text-sm font-medium">
                아시아나항공
              </p>
            </div>
            <div class="flex gap-1 items-center">
              <p class="text-gray-600 text-sm font-medium">
                2023.07.12(월) 16:30
              </p>
              <p class="text-gray-400 text-base font-medium">-></p>
              <p class="text-gray-600 text-sm font-medium">
                2023.07.12(월)17:15
              </p>
            </div>
            <p class="text-gray-400 text-sm font-medium">총 01시간 10분 소요</p>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col gap-6 content-center">
        <div class="flex items-center gap-3">
          <div class="flex flex-col gap-3 w-full">
            <p class="text-gray-800 text-base font-semibold">예약일</p>
            <p class="text-blue-600 text-base font-bold">2023-01-21</p>
          </div>
          <div class="flex flex-col gap-3 w-full">
            <p class="text-gray-800 text-base font-semibold">결제 상태</p>
            <div
              class="flex py-1 px-2 gap-2.5 rounded border border-green-200 bg-green-50 max-w-fit"
            >
              <p class="text-green-600 text-sm font-medium">결제 완료</p>
            </div>
          </div>
          <div class="flex flex-col gap-3 w-full">
            <p class="text-gray-800 text-base font-semibold">후기 작성</p>
            <p class="text-[#535B85] text-base font-bold cursor-pointer">
              작성 하기 >
            </p>
          </div>
        </div>
        <div
          class="flex p-10 items-center justify-center gap-10 rounded border border-gray-200 bg-gray-50 min-h-[10rem]"
        >
          <div class="flex justify-center items-center gap-3">
            <p class="text-gray-800 text-base font-semibold">총 인원</p>
            <div class="flex justify-center items-center gap-0.5">
              <p class="text-primary text-3xl font-medium">4</p>
              <p class="text-gray-600 text-base font-medium">명</p>
            </div>
          </div>
          <div class="flex items-center justify-center gap-3">
            <p class="text-gray-800 text-base font-semibold">총 결제 금액</p>
            <div class="flex justify-center items-center gap-0.5">
              <p class="text-primary text-3xl font-medium">3,599,900</p>
              <p class="text-gray-600 text-base font-medium">원</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-gray-800 text-xl font-semibold">예약 대표자 정보</p>
    <div class="flex border-t-2 border-gray-800 gap-3">
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">유형</p>
          <p class="text-gray-500 text-sm font-medium">성인</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">한글 이름</p>
          <p class="text-gray-500 text-sm font-medium">김도은</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">영문이름</p>
          <p class="text-gray-500 text-sm font-medium">KIMDOEUN</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">생년월일</p>
          <p class="text-gray-500 text-sm font-medium">1978-01-01</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">전화번호</p>
          <p class="text-gray-500 text-sm font-medium">010-1111-2222</p>
        </div>
      </div>
    </div>
    <p class="text-gray-800 text-xl font-semibold">여행자 정보</p>
    <div class="flex border-t-2 border-gray-800 gap-3">
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">유형</p>
          <p class="text-gray-500 text-sm font-medium">성인</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">한글 이름</p>
          <p class="text-gray-500 text-sm font-medium">김도은</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">영문이름</p>
          <p class="text-gray-500 text-sm font-medium">KIMDOEUN</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">생년월일</p>
          <p class="text-gray-500 text-sm font-medium">1978-01-01</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">전화번호</p>
          <p class="text-gray-500 text-sm font-medium">010-1111-2222</p>
        </div>
      </div>
      <div class="flex p-3 justify-center items-center w-full">
        <div class="flex py-1 px-2 rounded border border-green-200 bg-green-50">
          <p class="text-green-600 text-sm font-medium">여권 등록됨</p>
        </div>
      </div>
      <div class="flex p-3 justify-center items-center w-full">
        <button
          class="flex rounded justify-center items-center bg-primary w-9/12 h-2/3"
        >
          <p class="text-white text-base font-semibold">여권 상세</p>
        </button>
      </div>
    </div>
    <p class="text-gray-800 text-xl font-semibold">결제 정보</p>
    <div class="flex border-t-2 border-gray-800 gap-3">
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">상품 가격</p>
          <p class="text-gray-500 text-sm font-medium">800,000</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">결제 가격</p>
          <p class="text-gray-500 text-sm font-medium">800,000</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">결제 방법</p>
          <p class="text-gray-500 text-sm font-medium">무통장입금</p>
        </div>
      </div>
      <div class="flex p-3 w-full">
        <div class="flex flex-col gap-3">
          <p class="text-gray-800 text-base font-semibold">결제 상태</p>
          <p class="text-gray-500 text-sm font-medium">결제 확인(2022-03-01)</p>
        </div>
      </div>
    </div>
  </article>
  <app-product-information />
</section>
