<div class="flex flex-col items-start">
  <div
    class="flex flex-col w-full py-3 px-[100px] items-start gap-2.5 border-t border-b border-solid border-gray-200 bg-white"
  >
    <div class="flex justify-between items-center items self-stretch">
      <div class="flex items-center gap-10">
        <a routerLink="" class="cursor-pointer"><img [src]="logo" /></a>
        <div class="flex rounded border-2 border-primary min-w-[419px]">
          <input
            type="text"
            placeholder="검색어를 입력해주세요."
            class="flex items-center gap-2 w-full rounded-sm outline-none h-full px-4 py-2.5"
          />
          <button
            class="flex items-center gap-2 rounded-l-sm bg-primary h-full p-2.5"
          >
            <img class="w-5 h-5" [src]="search" />
          </button>
        </div>
      </div>
      <div class="flex items-center">
        <a
          routerLink="/myPage"
          class="cursor-pointer flex py-1.5 px-2.5 flex-col justify-center items-center gap-2.5"
        >
          <img [src]="myPage" />
          <p
            class="text-[#334155] text-sm not-italic font-semibold leading-normal tracking-[-0.6px]"
          >
            마이페이지
          </p>
        </a>
        <img [src]="vector" />
        <a
          routerLink="/logout"
          class="cursor-pointer flex py-1.5 px-2.5 flex-col justify-center items-center gap-2.5"
          ><img [src]="logout" />
          <p
            class="text-[#334155] text-sm not-italic font-semibold leading-normal tracking-[-0.6px]"
          >
            로그아웃
          </p>
        </a>
      </div>
    </div>
  </div>

  <div
    class="flex px-[100px] w-full justify-center items-center border-b-[1.5px] border-solid border-b-primary bg-white"
  >
    <ng-container *ngFor="let nav of navs">
      <div
        class="flex-2 h-10 py-2 px-5 justify-center items-center gap-2.5 bg-white"
      >
        <a [routerLink]="nav.url" class="text-center cursor-pointer"
          ><p
            class="text-[#374151] text-sm not-italic font-semibold leading-normal tracking-[-0.6px]"
          >
            {{ nav.name }}
          </p></a
        >
      </div>
    </ng-container>
  </div>
</div>
