<section class="flex flex-col shadow-3xl">
  <article class="flex w-full p-2.5 justify-center gap-2.5 bg-primary">
    <p
      class="text-white font-semibold cursor-pointer"
      routerLink="user-info/recently-product"
    >
      최근 본 상품
    </p>
  </article>
  <article class="flex p-6 flex-col items-start gap-6 bg-white">
    <div
      class="flex flex-col rounded-[4px] border border-gray-200 cursor-pointer"
      *ngFor="let recentlyProduct of recentlyProducts"
      routerLink="product-detail"
    >
      <img [src]="recentlyProduct.image" />
      <div class="flex p-4 items-start gap-3">
        <a class="text-slate-800 font-semibold leading-normal">{{
          recentlyProduct.title
        }}</a>
      </div>
    </div>
    <div class="flex border border-gray-300 w-full">
      <button
        type="button"
        class="flex p-2.5 gap-2.5 justify-center items-center w-full"
      >
        <img src="assets/recommend/leftBt.png" />
      </button>
      <div
        class="flex p-2.5 items-center justify-center border-x border-x-gray-200 min-w-[4rem]"
      >
        <p class="text-[#374151] text-center text-sm not-italic leading-normal">
          1/2
        </p>
      </div>
      <button
        type="button"
        class="flex p-2.5 items-center justify-center gap-2.5 w-full"
      >
        <img src="assets/recommend/leftBt.png" class="rotate-180" />
      </button>
    </div>
  </article>
  <article
    class="flex p-2.5 justify-center gap-2.5 bg-slate-600 cursor-pointer"
  >
    <a class="text-white font-semibold">TOP</a>
  </article>
</section>
