<section class="flex py-[60px] px-[100px] flex-col gap-[60px]">
  <article class="flex flex-col gap-6">
    <div class="flex items-center gap-1">
      <p class="text-gray-800 text-2xl font-bold">상품 정보</p>
      <p class="text-gray-500 text-sm">고객님이 선택하신 상품정보 입니다.</p>
    </div>
    <div
      class="flex flex-col justify-between w-full border-t-2 border-gray-800 min-h-[446px]"
    >
      <p></p>
      <p class="text-sm font-normal">
        <span class="text-gray-500"
          >상품코드[<span class="text-blue-500">ASDVDFDF</span>]</span
        >
      </p>
      <p class="text-gray-800 text-2xl font-semibold">
        강원도 7박 8일 스키장 패키지
      </p>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold">여행 기간</p>
        <p class="text-gray-700 text-sm">1박 2일</p>
      </div>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold">최소출발/ 최대인원</p>
        <p class="text-gray-700 text-sm">10/30</p>
      </div>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold">상품 가격</p>
        <div class="flex gap-[60px]">
          <div class="felx flex-col gap-1.5">
            <p class="text-gray-500 text-sm">성인(12세 이상)</p>
            <p class="text-primary text-2xl">700,000원~</p>
          </div>
          <div class="felx flex-col gap-1.5">
            <p class="text-gray-500 text-sm">아동(12세 이상)</p>
            <p class="text-primary text-2xl">500,000원~</p>
          </div>
          <div class="felx flex-col gap-1.5">
            <p class="text-gray-500 text-sm">유아(2세 이상)</p>
            <p class="text-primary text-2xl">300,000원~</p>
          </div>
        </div>
      </div>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center">
        <p class="text-gray-700 text-sm font-bold min-w-[3.3rem]">상품 설명</p>
        <p class="text-gray-700 text-sm">
          서울에서 비행기로 1시간 거리에 있는 제주도는 한국에서 가장 큰 섬이다.
          화산 활동으로 생긴 한라산, 오름, 주상절리 등 볼거리가 풍부해 한국의
          대표적 여행지로 꼽힌다.
        </p>
      </div>
      <img src="assets/icons/productDetailBar3.png" />
      <div class="flex gap-6 items-center w-full">
        <p class="text-gray-700 text-sm font-bold">일정</p>
        <div class="flex gap-5 w-full">
          <div class="flex flex-col gap-1 w-full">
            <p class="text-gray-700 text-sm font-semibold">출발</p>
            <div class="flex items-center gap-2">
              <img src="assets/icons/asiana.png" />
              <p class="text-gray-600 text-center text-sm">아시아나항공</p>
            </div>
            <div class="flex gap-1 items-center">
              <p class="text-gray-600 text-sm">2023.07.17(토) 9:30</p>
              <p class="text-gray-400">-></p>
              <p class="text-gray-600 text-sm">2023.07.17(토)10:20</p>
            </div>
            <p class="text-gray-400 text-sm">총 01시간 10분 소요</p>
          </div>
          <div class="flex flex-col gap-1 w-full">
            <p class="text-gray-700 text-sm font-semibold">도착</p>
            <div class="flex items-center gap-2">
              <img src="assets/icons/asiana.png" />
              <p class="text-gray-600 text-center text-sm">아시아나항공</p>
            </div>
            <div class="flex gap-1 items-center">
              <p class="text-gray-600 text-sm">2023.07.17(토) 9:30</p>
              <p class="text-gray-400">-></p>
              <p class="text-gray-600 text-sm">2023.07.17(토)10:20</p>
            </div>
            <p class="text-gray-400 text-sm">총 01시간 10분 소요</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="flex flex-col gap-6">
    <p class="text-gray-800 text-2xl font-semibold">약관 동의</p>
    <div class="flex flex-col gap-6 border-t-2 border-gray-800">
      <p></p>
      <div class="flex gap-6 w-full">
        <div
          class="flex p-5 justify-between rounded-b border border-gray-200 w-full"
        >
          <div class="flex gap-2 items-center">
            <input
              #checkbox
              type="checkbox"
              class="accent-primary w-[18px] h-[18px] cursor-pointer"
            />
            <p class="text-gray-700 font-bold">이용약관</p>
          </div>
          <button class="flex py-2 px-5 border border-gray-200">
            <p class="text-gray-700 text-sm font-semibold">자세히보기</p>
          </button>
        </div>
        <div
          class="flex p-5 justify-between rounded-b border border-gray-200 w-full"
        >
          <div class="flex gap-2 items-center">
            <input
              #checkbox
              type="checkbox"
              class="accent-primary w-[18px] h-[18px] cursor-pointer"
            />
            <p class="text-gray-700 font-bold">개인정보수집에 대한 이용 안내</p>
          </div>
          <button class="flex py-2 px-5 border border-gray-200">
            <p class="text-gray-700 text-sm font-semibold">자세히보기</p>
          </button>
        </div>
      </div>
      <div class="flex gap-6 w-full">
        <div
          class="flex p-5 justify-between rounded-b border border-gray-200 w-full"
        >
          <div class="flex gap-2 items-center">
            <input
              #checkbox
              type="checkbox"
              class="accent-primary w-[18px] h-[18px] cursor-pointer"
            />
            <p class="text-gray-700 font-bold">개인정보 제 3자 제공 안내</p>
          </div>
          <button class="flex py-2 px-5 border border-gray-200">
            <p class="text-gray-700 text-sm font-semibold">자세히보기</p>
          </button>
        </div>
        <div
          class="flex p-5 justify-between rounded-b border border-gray-200 w-full"
        >
          <div class="flex gap-2 items-center">
            <input
              #checkbox
              type="checkbox"
              class="accent-primary w-[18px] h-[18px] cursor-pointer"
            />
            <p class="text-gray-700 font-bold">고유식별정보 동의 안내</p>
          </div>
          <button class="flex py-2 px-5 border border-gray-200">
            <p class="text-gray-700 text-sm font-semibold">자세히보기</p>
          </button>
        </div>
      </div>
    </div>
  </article>
  <article class="flex flex-col gap-6">
    <p class="text-gray-800 text-2xl font-semibold">예약 대표자 정보</p>
    <div class="flex flex-col border-t-2 border-gray-800 w-full">
      <div class="flex border-b border-gray-100 w-full">
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">한글이름</p>
        </div>
        <div class="flex py-3 px-5 border-r border-gray-200 w-full">
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
        </div>
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">영문이름</p>
        </div>
        <div
          class="flex py-3 px-5 items-center gap-2 border-r border-gray-200 w-full"
        >
          <p class="text-gray-700 font-semibold">성</p>
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
          <p class="text-gray-700 font-semibold">이름</p>
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">생년월일</p>
        </div>
        <div
          class="flex py-3 px-5 gap-2 items-center border-r border-gray-200 w-full"
        >
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
          <p class="text-gray-500 text-sm">예 19740207</p>
        </div>
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">핸드폰 번호</p>
        </div>
        <div
          class="flex py-3 px-5 gap-2 items-center border-r border-gray-200 w-full"
        >
          <app-select
            class="w-[6.2rem]"
            [values]="['010','011']"
            [selectedValue]="'010'"
          />
          <p class="flex items-center text-gray-400">-</p>

          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm"
            placeholder="1234"
          />

          <p class="flex items-center text-gray-400">-</p>
          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm"
            placeholder="1234"
          />
        </div>
      </div>
      <div class="flex py-3 px-5 flex-col content-center gap-2">
        <div class="flex items-center gap-2">
          <div class="flex items-center gap-1.5">
            <input
              #checkbox
              type="checkbox"
              class="accent-primary w-[18px] h-[18px] cursor-pointer"
            />
            <p class="text-gray-800 text-sm">SMS</p>
          </div>
          <div class="flex items-center gap-1.5">
            <input
              #checkbox
              type="checkbox"
              class="accent-primary w-[18px] h-[18px] cursor-pointer"
            />
            <p class="text-gray-800 text-sm">EMAIL</p>
          </div>
          <div class="flex items-center gap-1.5">
            <input
              #checkbox
              type="checkbox"
              class="accent-primary w-[18px] h-[18px] cursor-pointer"
            />
            <p class="text-gray-800 text-sm">DM</p>
          </div>
        </div>
        <ul class="text-gray-500 text-sm">
          <li>
            스카이필에서 제공하는 여행상품과 관련정보(특가상품/신상품/할인쿠폰
            등)의 안내에 활용됩니다.
          </li>
          <li>
            단, 예약관련 및 약관 변경, 공지성 메시지는 이메일 및 SMS 수신거부
            고객님에게도 발송됩니다.
          </li>
        </ul>
      </div>
    </div>
  </article>
  <article class="flex flex-col gap-6">
    <div class="flex items-center gap-3">
      <p class="text-gray-800 text-2xl font-semibold">여행자 정보</p>
      <ul class="text-red-600 text-sm">
        <li>예약자 정보 등록 시 수정 불가하니 신중히 작성해주시길 바랍니다.</li>
      </ul>
    </div>
    <p class="text-gray-800 text-xl font-semibold">총 인원</p>
    <div
      class="flex border-b border-b-gray-100 border-t-2 border-t-gray-800 w-full"
    >
      <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
        <p class="text-gray-800 font-semibold">여행 인원</p>
      </div>
      <div
        class="flex py-3 px-5 gap-2 border-r border-gray-200 items-center w-full"
      >
        <p class="text-gray-700 font-semibold">성인</p>
        <input
          class="flex py-2 px-4 rounded-md border-2 border-gray-300 max-w-[60px]"
          placeholder="4명"
        />
        <p class="text-gray-500 text-sm">출발일 기준 만 12세 이상</p>
      </div>
      <div
        class="flex py-3 px-5 gap-2 border-r border-gray-200 items-center w-full"
      >
        <p class="text-gray-700 font-semibold">소아</p>
        <input
          class="flex py-2 px-4 rounded-md border-2 border-gray-300 max-w-[60px]"
          placeholder="0명"
        />
        <p class="text-gray-500 text-sm">출발일 기준 만 12세 이상</p>
      </div>
      <div
        class="flex py-3 px-5 gap-2 border-r border-gray-200 items-center w-full"
      >
        <p class="text-gray-700 font-semibold">유아</p>
        <input
          class="flex py-2 px-4 rounded-md border-2 border-gray-300 max-w-[60px]"
          placeholder="0명"
        />
        <p class="text-gray-500 text-sm">출발일 기준 만 2세 미만</p>
      </div>
    </div>
    <p class="text-gray-800 text-xl font-semibold">인원 상세정보</p>
    <ul class="text-red-600 text-sm">
      <li>
        핸드폰 번호가 존재하지 않는 경우 연락가능한 핸드폰 번호를 입력해주세요
      </li>
    </ul>
    <div class="flex flex-col">
      <div
        class="flex py-4 px-5 gap-5 border-b border-gray-100 bg-gray-50 border-t-2 border-t-gray-800"
      >
        <img src="assets/icons/traveler1.png" />
        <p class="text-gray-800 font-semibold">번째 여행자 정보</p>
        <div class="flex items-center gap-1.5">
          <input
            #checkbox
            type="checkbox"
            class="accent-primary w-[18px] h-[18px] cursor-pointer"
          />
          <p class="text-gray-800 text-sm">대표자 정보와 동일</p>
        </div>
      </div>
      <div class="flex border-b border-gray-100 w-full">
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">한글이름</p>
        </div>
        <div class="flex py-3 px-5 border-r border-gray-200 w-full">
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
        </div>
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">영문이름</p>
        </div>
        <div
          class="flex py-3 px-5 items-center gap-2 border-r border-gray-200 w-full"
        >
          <p class="text-gray-700 font-semibold">성</p>
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
          <p class="text-gray-700 font-semibold">이름</p>
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">생년월일</p>
        </div>
        <div
          class="flex py-3 px-5 gap-2 items-center border-r border-gray-200 w-full"
        >
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
          <p class="text-gray-500 text-sm">예 19740207</p>
        </div>
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">핸드폰 번호</p>
        </div>
        <div
          class="flex py-3 px-5 gap-2 items-center border-r border-gray-200 w-full"
        >
          <app-select
            class="w-[6.2rem]"
            [values]="['010','011']"
            [selectedValue]="'010'"
          />
          <p class="flex items-center text-gray-400">-</p>

          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm"
            placeholder="1234"
          />

          <p class="flex items-center text-gray-400">-</p>
          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm"
            placeholder="1234"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div
        class="flex py-4 px-5 gap-5 border-b border-gray-100 bg-gray-50 border-t-2 border-t-gray-800"
      >
        <img src="assets/icons/traveler2.png" />
        <p class="text-gray-800 font-semibold">번째 여행자 정보</p>
        <div class="flex items-center gap-1.5">
          <input
            #checkbox
            type="checkbox"
            class="accent-primary w-[18px] h-[18px] cursor-pointer"
          />
          <p class="text-gray-800 text-sm">대표자 정보와 동일</p>
        </div>
      </div>
      <div class="flex border-b border-gray-100 w-full">
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">한글이름</p>
        </div>
        <div class="flex py-3 px-5 border-r border-gray-200 w-full">
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
        </div>
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">영문이름</p>
        </div>
        <div
          class="flex py-3 px-5 items-center gap-2 border-r border-gray-200 w-full"
        >
          <p class="text-gray-700 font-semibold">성</p>
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
          <p class="text-gray-700 font-semibold">이름</p>
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
        </div>
      </div>
      <div class="flex border-b border-gray-100">
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">생년월일</p>
        </div>
        <div
          class="flex py-3 px-5 gap-2 items-center border-r border-gray-200 w-full"
        >
          <input
            class="flex py-2 px-4 rounded-md border-2 border-gray-300"
            placeholder="일이삼일이삼일이삼일"
          />
          <p class="text-gray-500 text-sm">예 19740207</p>
        </div>
        <div class="flex py-4 px-5 items-center bg-gray-50 min-w-[158px]">
          <p class="text-gray-800 font-semibold">핸드폰 번호</p>
        </div>
        <div
          class="flex py-3 px-5 gap-2 items-center border-r border-gray-200 w-full"
        >
          <app-select
            class="w-[6.2rem]"
            [values]="['010','011']"
            [selectedValue]="'010'"
          />
          <p class="flex items-center text-gray-400">-</p>

          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm"
            placeholder="1234"
          />

          <p class="flex items-center text-gray-400">-</p>
          <input
            class="max-w-[72px] flex py-2 px-4 items-center gap-2 rounded-md border-2 border-gray-300 text-sm"
            placeholder="1234"
          />
        </div>
      </div>
    </div>
    <div
      class="flex p-10 gap-10 items-center justify-center rounded border border-gray-200"
    >
      <div class="flex flex-col gap-2">
        <p class="text-gray-800 font-semibold">상품 금액</p>
        <div class="flex flex-col gap-2 items-center">
          <div class="flex gap-3 items-center">
            <p class="text-gray-700 font-semibold">성인</p>
            <div class="flex items-baseline gap-1">
              <p class="text-gray-800 text-2xl">1,199,900</p>
              <p class="text-gray-600">원</p>
            </div>
            <p class="text-gray-800">x 1명</p>
          </div>
          <div class="flex gap-3 items-center">
            <p class="text-gray-700 font-semibold">소아</p>
            <div class="flex items-baseline gap-1">
              <p class="text-gray-800 text-2xl">1,199,900</p>
              <p class="text-gray-600">원</p>
            </div>
            <p class="text-gray-800">x 1명</p>
          </div>
          <div class="flex gap-3 items-center">
            <p class="text-gray-700 font-semibold">유아</p>
            <div class="flex items-baseline gap-1">
              <p class="text-gray-800 text-2xl">1,199,900</p>
              <p class="text-gray-600">원</p>
            </div>
            <p class="text-gray-800">x 1명</p>
          </div>
        </div>
      </div>
      <img src="assets/icons/productReservationLine.png" />
      <div class="flex flex-col gap-3">
        <p class="text-gray-800 font-semibold">총 예정 상품가</p>
        <div class="flex gap-1 items-center min-h-[111px]">
          <p class="text-primary text-3xl">3,599,900</p>
          <p class="text-gray-600">원</p>
        </div>
      </div>
    </div>
  </article>
  <article class="flex justify-center w-full">
    <button
      routerLink="payment"
      type="submit"
      class="min-w-[320px] flex py-2 px-3 justify-center bg-primary w-max h-max text-white text-center font-semibold"
    >
      결제하기
    </button>
  </article>
</section>
