<div class="flex flex-col items-start gap-2.5 relative">
  <img src="assets/banner/Rectangle.png" class="w-full" />
  <div class="inline-flex flex-col items-center gap-[17px] absolute">
    <div class="flex flex-col items-center gap-2.5">
      <div class="text-center">
        <p
          class="text-[40px] not-italic font-extrabold leading-normal text-orange-700"
        >
          배틀트립으로 떠나는
        </p>
        <p
          class="text-[40px] text-gray-800 not-italic font-extrabold leading-normal"
        >
          유럽 여행!
        </p>
      </div>
      <p
        class="text-xl text-gray-800 text-center not-italic font-semibold leading-normal"
      >
        포르투갈 그리고 체코!
      </p>
      <div
        class="flex py-2.5 px-[60px] justify-center items-center gap-2.5 cursor-pointer rounded-[4px] bg-orange-700"
      >
        <a
          routerLink="/productDetail"
          class="text-xs not-italic leading-normal text-white"
          >자세히보기
        </a>
      </div>
    </div>
  </div>
  <div
    class="inline-flex py-2 px-3 items-center gap-[27px] rounded-[4px] bg-gray-900 absolute bottom-6 right-6"
  >
    <button type="button">
      <img src="assets/banner/LeftFrame.png" />
    </button>
    <p
      class="text-white text-center text-sm not-italic font-medium leading-normal"
    >
      1/15
    </p>
    <button type="button">
      <img src="assets/banner/LeftFrame.png" class="rotate-180" />
    </button>
  </div>
</div>
