<section class="flex py-[60px] px-[100px] flex-col w-full h-full">
  <article class="flex flex-col gap-10">
    <div class="flex justify-between items-center">
      <p class="text-gray-800 text-3xl font-bold">마이페이지</p>
      <div class="flex justify-end items-center">
        <div class="flex items-center gap-1">
          <img src="assets/icons/HouseIcon.png" />
          <p class="text-gray-600 text-base font-medium">홈</p>
        </div>
        <div class="flex p-2.5 items-center">
          <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
        </div>
        <p class="text-gray-600 text-base font-medium">마이페이지</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <p class="text-gray-800 text-2xl font-bold">내 정보</p>
      <div class="flex flex-col gap-0.5 h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex w-full">
          <div
            class="flex p-8 gap-6 flex-col justify-between rounded-bl border-x border-b border-gray-200 w-1/2"
          >
            <div class="flex justify-between">
              <div class="flex flex-col gap-2">
                <p class="text-gray-800 text-xl font-bold">안재학 님</p>
                <div class="flex gap-5">
                  <img src="assets/icons/password.png" />
                  <p class="text-gray-800 text-base font-semibold">doeun13**</p>
                </div>
                <div class="flex gap-5">
                  <img src="assets/icons/phone.png" />
                  <p class="text-gray-800 text-base font-medium">
                    010-1111-2343
                  </p>
                </div>
              </div>
              <p
                class="text-gray-600 text-right text-base font-medium cursor-pointer"
              >
                탈퇴하기
              </p>
            </div>
            <div class="flex items-center gap-2">
              <button
                type="button"
                class="flex py-2 px-3 items-center rounded bg-primary"
              >
                <p class="text-white text-base font-semibold">회원정보 수정</p>
              </button>
              <button
                type="button"
                class="flex py-2 px-3 items-center rounded bg-primary"
              >
                <p class="text-white text-base font-semibold">비밀번호 변경</p>
              </button>
            </div>
          </div>
          <div
            class="flex p-8 flex-col rounded-br border-x border-b border-gray-200 w-1/2"
          >
            <div class="flex items-center justify-between">
              <div class="flex p-4 border border-gray-200 w-1/2">
                <button class="flex gap-1" routerLink="reservation">
                  <img src="assets/icons/calendar.png" />
                  <p class="text-gray-800 text-xl font-semibold">내 예약</p>
                  <img src="assets/icons/myPageGt.png" />
                </button>
              </div>
              <div class="flex p-4 border border-gray-200 w-1/2">
                <button class="flex gap-1" routerLink="inquiry">
                  <img src="assets/icons/question-answer.png" />
                  <p class="text-gray-800 text-xl font-semibold">1:1 문의</p>
                  <img src="assets/icons/myPageGt.png" />
                </button>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex p-4 border border-gray-200 w-1/2">
                <button class="flex gap-1" routerLink="refundDetail">
                  <img src="assets/icons/replay.png" />
                  <p class="text-gray-800 text-xl font-semibold">환불내역</p>
                  <img src="assets/icons/myPageGt.png" />
                </button>
              </div>
              <div class="flex p-4 border border-gray-200 w-1/2">
                <button class="flex gap-1" routerLink="reviewTrip">
                  <img src="assets/icons/review.png" />
                  <p class="text-gray-800 text-xl font-semibold">여행후기</p>
                  <img src="assets/icons/myPageGt.png" />
                </button>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex p-4 border border-gray-200 w-1/2">
                <div class="flex gap-1">
                  <img src="assets/icons/pageview.png" />
                  <p class="text-gray-800 text-xl font-semibold">
                    최근 본 상품
                  </p>
                  <img src="assets/icons/myPageGt.png" />
                </div>
              </div>
              <div class="flex p-4 border border-gray-200 w-1/2">
                <div class="flex gap-1">
                  <img src="assets/icons/favorite.png" />
                  <p class="text-gray-800 text-xl font-semibold">찜한 상품</p>
                  <img src="assets/icons/myPageGt.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 예약 내역</p>
        <p
          class="text-gray-800 text-base font-bold cursor-pointer"
          routerLink="reservation"
        >
          더 보기
        </p>
      </div>
      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-semibold">
                예약일
              </p>
              <p class="text-gray-800 min-w-max text-base font-semibold">
                예약번호
              </p>
              <p class="text-gray-800 text-base font-semibold w-full">상품명</p>
              <p
                class="text-gray-800 min-w-max text-right text-base font-semibold"
              >
                결제 상태
              </p>
              <p
                class="text-gray-800 min-w-max text-right text-base font-semibold"
              >
                후기 작성
              </p>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                2023-01-21
              </p>
              <p class="text-gray-800 min-w-max text-base font-bold">2323123</p>
              <p class="text-gray-800 text-base font-bold w-full">
                제주 한달살기
              </p>
              <div
                class="flex py-1 px-2 rounded border border-yellow-200 bg-yellow-50"
              >
                <p class="text-yellow-600 text-sm font-medium min-w-max">
                  결제 대기
                </p>
              </div>
              <div
                class="flex py-1 px-2 rounded border border-yellow-200 bg-yellow-50"
              >
                <p class="text-yellow-600 text-sm font-medium min-w-max">
                  결제 대기
                </p>
              </div>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                2023-01-21
              </p>
              <p class="text-gray-800 min-w-max text-base font-bold">2323123</p>
              <p class="text-gray-800 text-base font-bold w-full">
                제주 한달살기
              </p>
              <div
                class="flex py-1 px-2 rounded border border-gray-200 bg-gray-50"
              >
                <p class="text-gray-600 text-sm font-medium min-w-max">
                  여행 완료
                </p>
              </div>
              <div class="flex py-2 px-3 rounded border bg-primary">
                <p class="text-white text-base min-w-max">후기 작성</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 문의 내역</p>
        <p
          class="text-gray-800 text-base font-bold cursor-pointer"
          routerLink="inquiry"
        >
          더 보기
        </p>
      </div>
      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 gap-3 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-semibold">
                구분
              </p>
              <p class="text-gray-800 text-base font-semibold w-full">제목</p>
              <p
                class="text-gray-800 min-w-max text-right text-base font-semibold"
              >
                등록일
              </p>
              <p
                class="text-gray-800 min-w-max text-right text-base font-semibold"
              >
                후기 작성
              </p>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                Category
              </p>
              <p class="text-gray-800 text-base font-bold w-full">
                여행 상품 문의 드려요
              </p>
              <div
                class="flex py-1 px-2 rounded-xl border border-yellow-200 bg-yellow-50"
              >
                <p class="text-yellow-700 text-sm font-medium min-w-max">
                  미 답변
                </p>
              </div>
              <p
                class="text-gray-500 text-right text-base font-semibold min-w-max"
              >
                2022.01.01
              </p>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                Category
              </p>
              <p class="text-gray-800 text-base font-bold w-full">
                여행 상품 문의 드려요
              </p>
              <div
                class="flex py-1 px-2 rounded-xl border border-yellow-200 bg-yellow-50"
              >
                <p class="text-yellow-700 text-sm font-medium min-w-max">
                  미 답변
                </p>
              </div>
              <p
                class="text-gray-500 text-right text-base font-semibold min-w-max"
              >
                2022.01.01
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 환불 내역</p>
        <button
          routerLink="refundDetail"
          class="text-gray-800 text-base font-bold"
        >
          더 보기
        </button>
      </div>
      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 gap-3 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-semibold">
                환불요청일
              </p>
              <p class="text-gray-800 min-w-max text-base font-semibold">
                예약번호
              </p>
              <p class="text-gray-800 text-base font-semibold w-full">상품명</p>
              <p
                class="text-gray-800 min-w-max text-right text-base font-semibold"
              >
                환불 상태
              </p>
              <p
                class="text-gray-800 min-w-max text-right text-base font-semibold"
              >
                등록일
              </p>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                2023-01-21
              </p>
              <p class="text-gray-800 min-w-max text-base font-bold">2323123</p>
              <p class="text-gray-800 text-base font-bold w-full">
                제주 한달살기
              </p>
              <div
                class="flex py-1 px-2 rounded-xl border border-yellow-200 bg-yellow-50"
              >
                <p class="text-yellow-700 text-sm font-medium min-w-max">
                  환불 대기
                </p>
              </div>
              <p
                class="text-gray-500 text-right text-base font-semibold min-w-max"
              >
                2022.01.01
              </p>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                2023-01-21
              </p>
              <p class="text-gray-800 min-w-max text-base font-bold">2323123</p>
              <p class="text-gray-800 text-base font-bold w-full">
                제주 한달살기
              </p>
              <div
                class="flex py-1 px-2 rounded-xl border border-green-100 bg-green-50"
              >
                <p class="text-green-700 text-sm font-medium min-w-max">
                  환불 완료
                </p>
              </div>
              <p
                class="text-gray-500 text-right text-base font-semibold min-w-max"
              >
                2022.01.01
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 여행 후기</p>
        <p
          class="text-gray-800 text-base font-bold cursor-pointer"
          routerLink="reviewTrip"
        >
          더 보기
        </p>
      </div>
      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 gap-3 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-semibold">
                상품종류
              </p>
              <p class="text-gray-800 text-base font-semibold w-full">제목</p>
              <p
                class="text-gray-800 min-w-max text-right text-base font-semibold"
              >
                등록일
              </p>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                해외여행
              </p>
              <p class="text-gray-800 text-base font-bold w-full">
                내 인생의 최고의 일본여행!
              </p>
              <p
                class="text-gray-500 text-right text-base font-semibold min-w-max"
              >
                2022.01.01
              </p>
            </div>
          </div>
          <div class="flex py-5 gap-3 border-b border-gray-300">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-max text-base font-bold">
                해외여행
              </p>
              <p class="text-gray-800 text-base font-bold w-full">
                내 인생의 최고의 일본여행!
              </p>
              <p
                class="text-gray-500 text-right text-base font-semibold min-w-max"
              >
                2022.01.01
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">최근 본 상품</p>
        <p class="text-gray-800 text-base font-bold">더 보기</p>
      </div>
      <div class="flex justify-center gap-6">
        <app-card [product]="product" *ngFor="let product of products" />
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">찜한 상품</p>
        <p class="text-gray-800 text-base font-bold">더 보기</p>
      </div>
      <div class="flex justify-center gap-6">
        <app-card [product]="product" *ngFor="let product of products" />
      </div>
    </div>
  </article>
</section>
