<section class="flex py-[60px] px-[100px] flex-col w-full h-full">
  <article class="flex flex-col gap-10">
    <div class="flex justify-between items-center">
      <p class="text-gray-800 text-3xl font-bold">마이페이지</p>
      <div class="flex justify-end items-center">
        <div class="flex items-center gap-1">
          <img src="assets/icons/HouseIcon.png" />
          <p class="text-gray-600">홈</p>
        </div>
        <div class="flex p-2.5 items-center">
          <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
        </div>
        <p class="text-gray-600">마이페이지</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <p class="text-gray-800 text-2xl font-bold">내 정보</p>
      <div class="flex flex-col gap-0.5 h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex w-full">
          <div
            class="flex p-8 gap-6 flex-col justify-between rounded-bl border-x border-b border-gray-200 flex-1"
          >
            <div class="flex justify-between">
              <div class="flex flex-col gap-2">
                <p class="text-gray-800 text-xl font-bold">안재학 님</p>
                <div class="flex gap-5">
                  <img src="assets/icons/password.png" />
                  <p class="text-gray-800 font-semibold">doeun13**</p>
                </div>
                <div class="flex gap-5">
                  <img src="assets/icons/phone.png" />
                  <p class="text-gray-800">010-1111-2343</p>
                </div>
              </div>
              <p
                class="text-gray-600 text-right cursor-pointer"
                routerLink="user-withdrawal"
              >
                탈퇴하기
              </p>
            </div>
            <div class="flex items-center gap-2">
              <button
                (click)="updateUserInfo()"
                type="button"
                class="flex py-2 px-3 items-center rounded bg-primary"
              >
                <p class="text-white font-semibold">회원정보 수정</p>
              </button>
              <button
                (click)="ChangePasswordComponent()"
                type="button"
                class="flex py-2 px-3 items-center rounded bg-primary"
              >
                <p class="text-white font-semibold">비밀번호 변경</p>
              </button>
            </div>
          </div>
          <div
            class="grid grid-cols-2 p-8 rounded-br border-x border-b border-gray-200 flex-1"
          >
            <div class="flex p-4 border border-gray-200 w-full">
              <button
                class="flex gap-1 w-full items-center"
                routerLink="reservation"
              >
                <div class="flex gap-2 items-center w-full">
                  <img src="assets/icons/calendar.png" />
                  <p class="text-gray-800 text-xl font-semibold">내 예약</p>
                </div>
                <img src="assets/icons/myPageGt.png" />
              </button>
            </div>
            <div class="flex p-4 border border-gray-200 w-full">
              <button
                class="flex gap-1 w-full items-center"
                routerLink="inquiry"
              >
                <div class="flex gap-2 items-center w-full">
                  <img src="assets/icons/question-answer.png" />
                  <p class="text-gray-800 text-xl font-semibold">1:1 문의</p>
                </div>
                <img src="assets/icons/myPageGt.png" />
              </button>
            </div>
            <div class="flex p-4 border border-gray-200 w-full">
              <button
                class="flex gap-1 w-full items-center"
                routerLink="refund-detail"
              >
                <div class="flex gap-2 items-center w-full">
                  <img src="assets/icons/replay.png" />
                  <p class="text-gray-800 text-xl font-semibold">환불내역</p>
                </div>
                <img src="assets/icons/myPageGt.png" />
              </button>
            </div>
            <div class="flex p-4 border border-gray-200">
              <button
                class="flex gap-1 w-full items-center"
                routerLink="review-trip"
              >
                <div class="flex gap-2 items-center w-full">
                  <img src="assets/icons/review.png" />
                  <p class="text-gray-800 text-xl font-semibold">여행후기</p>
                </div>
                <img src="assets/icons/myPageGt.png" />
              </button>
            </div>
            <div class="flex p-4 border border-gray-200">
              <button
                class="flex gap-1 w-full items-center"
                routerLink="recently-product"
              >
                <div class="flex gap-2 items-center w-full">
                  <img src="assets/icons/pageview.png" />
                  <p class="text-gray-800 text-xl font-semibold">
                    최근 본 상품
                  </p>
                </div>
                <img src="assets/icons/myPageGt.png" />
              </button>
            </div>
            <div class="flex p-4 border border-gray-200">
              <button
                class="flex gap-1 w-full items-center"
                routerLink="bookmark"
              >
                <div class="flex gap-2 items-center w-full">
                  <img src="assets/icons/favorite.png" />
                  <p class="text-gray-800 text-xl font-semibold">찜한 상품</p>
                </div>
                <img src="assets/icons/myPageGt.png" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 예약 내역</p>
        <p
          class="text-gray-800 font-bold cursor-pointer"
          routerLink="reservation"
        >
          더 보기
        </p>
      </div>

      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-[6rem] font-semibold">예약일</p>
              <p class="text-gray-800 min-w-[6rem] font-semibold">예약번호</p>
              <p class="text-gray-800 font-semibold w-full">상품명</p>
              <p class="text-gray-800 text-center font-semibold min-w-[6rem]">
                결제 상태
              </p>
              <p class="text-gray-800 text-center font-semibold min-w-[6rem]">
                후기 작성
              </p>
            </div>
          </div>
          <div
            class="flex py-5 gap-3 border-b border-gray-300"
            *ngFor="let reservation of reservations"
          >
            <div
              class="flex px-10 items-center gap-5 w-full cursor-pointer"
              routerLink="reservation-detail"
            >
              <p class="text-gray-800 font-bold min-w-[6rem]">
                {{reservation.date}}
              </p>
              <p class="text-gray-800 font-bold min-w-[6rem]">
                {{reservation.id}}
              </p>
              <p class="text-gray-800 font-bold w-full">
                {{reservation.productName}}
              </p>
              <div
                class="min-w-[6rem] flex items-center justify-center"
                *ngIf="reservation.paymentStatus === '결제대기'"
              >
                <p
                  class="text-yellow-600 text-sm w-max py-1 px-2 rounded border border-yellow-200 bg-yellow-50"
                >
                  결제 대기
                </p>
              </div>
              <div
                class="min-w-[6rem] flex items-center justify-center"
                *ngIf="reservation.paymentStatus === '결제대기'"
              >
                <p
                  class="text-yellow-600 text-sm w-max flex py-1 px-2 rounded border border-yellow-200 bg-yellow-50"
                >
                  결제 대기
                </p>
              </div>
              <div
                class="min-w-[6rem] flex items-center justify-center"
                *ngIf="reservation.paymentStatus === '여행완료'"
              >
                <p
                  class="text-gray-600 text-sm w-max py-1 px-2 rounded border border-gray-200 bg-gray-50"
                >
                  여행 완료
                </p>
              </div>
              <div
                class="min-w-[6rem] flex items-center justify-center cursor-pointer"
                *ngIf="reservation.paymentStatus === '여행완료'"
              >
                <p class="text-white min-w-max bg-primary py-2 px-3 rounded">
                  후기 작성
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 문의 내역</p>
        <p class="text-gray-800 font-bold cursor-pointer" routerLink="inquiry">
          더 보기
        </p>
      </div>
      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 gap-3 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-[6rem] font-semibold">구분</p>
              <p class="text-gray-800 font-semibold w-full">제목</p>
              <p class="text-gray-800 min-w-[6rem] text-center font-semibold">
                답변상태
              </p>
              <p class="text-gray-800 min-w-[6rem] text-center font-semibold">
                등록일
              </p>
            </div>
          </div>
          <div
            class="flex py-5 gap-3 border-b border-gray-300"
            *ngFor="let inquiry of inquiries"
          >
            <div class="flex px-10 items-center gap-5 w-full cursor-pointer">
              <p class="text-gray-800 min-w-[6rem] font-bold">
                {{inquiry.category}}
              </p>
              <p class="text-gray-800 font-bold w-full">{{inquiry.title}}</p>
              <div
                class="flex min-w-[6rem] justify-center items-center"
                *ngIf="inquiry.replyStatus === '미 답변'"
              >
                <p
                  class="text-yellow-700 text-sm min-w-max flex py-1 px-2 rounded-xl border border-yellow-200 bg-yellow-50"
                >
                  {{inquiry.replyStatus}}
                </p>
              </div>
              <div class="flex min-w-[6rem] justify-center items-center">
                <p class="text-gray-500 text-right font-semibold min-w-max">
                  {{inquiry.date}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 환불 내역</p>
        <button routerLink="refund-detail" class="text-gray-800 font-bold">
          더 보기
        </button>
      </div>
      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 gap-3 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-[6rem] font-semibold">환불요청일</p>
              <p class="text-gray-800 min-w-[6rem] font-semibold">예약번호</p>
              <p class="text-gray-800 font-semibold w-full">상품명</p>
              <p class="text-gray-800 min-w-[6rem] text-center font-semibold">
                환불 상태
              </p>
              <p class="text-gray-800 min-w-[6rem] text-center font-semibold">
                등록일
              </p>
            </div>
          </div>
          <div
            class="flex py-5 gap-3 border-b border-gray-300"
            *ngFor="let refund of refunds"
          >
            <div class="flex px-10 items-center gap-5 w-full cursor-pointer">
              <p class="text-gray-800 min-w-[6rem] font-bold">
                {{refund.createAt}}
              </p>
              <p class="text-gray-800 min-w-[6rem] font-bold">{{refund.id}}</p>
              <p class="text-gray-800 font-bold w-full">
                {{refund.productName}}
              </p>
              <div
                class="flex justify-center items-center min-w-[6rem]"
                *ngIf="refund.refundStatus === '환불 대기'"
              >
                <p
                  class="text-yellow-700 text-sm min-w-max flex py-1 px-2 rounded-xl border border-yellow-200 bg-yellow-50"
                >
                  {{refund.refundStatus}}
                </p>
              </div>
              <div
                class="flex min-w-[6rem] justify-center items-center"
                *ngIf="refund.refundStatus == '환불 완료'"
              >
                <p
                  class="text-green-700 text-sm min-w-max flex py-1 px-2 rounded-xl border border-green-100 bg-green-50"
                >
                  {{refund.refundStatus}}
                </p>
              </div>
              <div class="flex min-w-[6rem] justify-center items-center">
                <p class="text-gray-500 text-right font-semibold min-w-max">
                  {{refund.date}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">나의 여행 후기</p>
        <p
          class="text-gray-800 font-bold cursor-pointer"
          routerLink="review-trip"
        >
          더 보기
        </p>
      </div>
      <div class="flex flex-col h-full">
        <img src="assets/icons/Vector607.png" />
        <div class="flex flex-col rounded-b border border-gray-300">
          <div class="flex py-5 gap-3 border-b border-gray-300 bg-gray-50">
            <div class="flex px-10 items-center gap-5 w-full">
              <p class="text-gray-800 min-w-[6rem] font-semibold">상품종류</p>
              <p class="text-gray-800 font-semibold w-full">제목</p>
              <p class="text-gray-800 min-w-[6rem] text-center font-semibold">
                등록일
              </p>
            </div>
          </div>
          <div
            class="flex py-5 gap-3 border-b border-gray-300"
            *ngFor="let reviewTrip of reviewTrips"
          >
            <div
              class="flex px-10 items-center gap-5 w-full cursor-pointer"
              routerLink="/product-detail"
            >
              <p class="text-gray-800 min-w-[6rem] font-bold">
                {{reviewTrip.productType}}
              </p>
              <p class="text-gray-800 font-bold w-full">{{reviewTrip.title}}</p>
              <div class="flex min-w-[6rem] justify-center items-center">
                <p class="text-gray-500 text-center font-semibold min-w-max">
                  {{reviewTrip.createAt}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">최근 본 상품</p>
        <p
          class="text-gray-800 font-bold cursor-pointer"
          routerLink="recently-product"
        >
          더 보기
        </p>
      </div>
      <div class="grid grid-cols-5 justify-items-center items-center gap-6">
        <app-card
          [product]="product"
          *ngFor="let product of products | slice:0:5"
          class="h-full"
        />
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <p class="text-gray-800 text-2xl font-bold">찜한 상품</p>
        <p class="text-gray-800 font-bold cursor-pointer" routerLink="bookmark">
          더 보기
        </p>
      </div>
      <div class="grid grid-cols-5 justify-items-center items-center gap-6">
        <app-card
          [product]="product"
          *ngFor="let product of products | slice:0:5"
          class="h-full"
        />
      </div>
    </div>
  </article>
</section>
