<section class="flex py-[60px] px-[100px] flex-col gap-6">
  <article class="flex justify-between items-center">
    <p class="text-gray-800 text-[28px] font-bold leading-normal">
      나의 환불 내역
    </p>
    <div class="flex justify-end items-center">
      <div class="flex items-center gap-1">
        <img src="assets/icons/HouseIcon.png" />
        <p class="text-gray-600 text-sm font-medium leading-normal">홈</p>
      </div>
      <div class="flex p-2.5 items-center">
        <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
      </div>
      <p class="text-gray-600 text-sm font-medium leading-normal">마이페이지</p>
      <div class="flex p-2.5 items-center">
        <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
      </div>
      <p class="text-gray-600 text-sm font-medium leading-normal">환불 내역</p>
    </div>
  </article>
  <article class="flex flex-col h-full">
    <img src="assets/icons/Vector607.png" />
    <div class="flex flex-col rounded-b border border-gray-300">
      <div class="flex py-5 gap-3 border-b border-gray-300 bg-gray-50">
        <div class="flex px-10 items-center gap-5 w-full">
          <p class="text-gray-800 min-w-max text-base font-semibold">
            환불요청일
          </p>
          <p class="text-gray-800 min-w-max text-base font-semibold">
            예약번호
          </p>
          <p class="text-gray-800 text-base font-semibold w-full">상품명</p>
          <p class="text-gray-800 min-w-max text-right text-base font-semibold">
            환불 상태
          </p>
          <p class="text-gray-800 min-w-max text-right text-base font-semibold">
            등록일
          </p>
        </div>
      </div>
      <div class="flex py-5 gap-3 border-b border-gray-300">
        <div class="flex px-10 items-center gap-5 w-full">
          <p class="text-gray-800 min-w-max text-base font-bold">2023-01-21</p>
          <p class="text-gray-800 min-w-max text-base font-bold">2323123</p>
          <p class="text-gray-800 text-base font-bold w-full">제주 한달살기</p>
          <div
            class="flex py-1 px-2 rounded-xl border border-yellow-200 bg-yellow-50"
          >
            <p class="text-yellow-700 text-sm font-medium min-w-max">
              환불 대기
            </p>
          </div>
          <p class="text-gray-500 text-right text-base font-semibold min-w-max">
            2022.01.01
          </p>
        </div>
      </div>
      <div class="flex py-5 gap-3 border-b border-gray-300">
        <div class="flex px-10 items-center gap-5 w-full">
          <p class="text-gray-800 min-w-max text-base font-bold">2023-01-21</p>
          <p class="text-gray-800 min-w-max text-base font-bold">2323123</p>
          <p class="text-gray-800 text-base font-bold w-full">제주 한달살기</p>
          <div
            class="flex py-1 px-2 rounded-xl border border-green-100 bg-green-50"
          >
            <p class="text-green-700 text-sm font-medium min-w-max">
              환불 완료
            </p>
          </div>
          <p class="text-gray-500 text-right text-base font-semibold min-w-max">
            2022.01.01
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
