.selected {
    background-color: #283266; /* 원하는 선택된 색상으로 변경하세요 */
    color: white; /* 원하는 텍스트 색상으로 변경하세요 */
  }
  
  .selected + button {
    background-color: #F3F4F6; /* 선택된 버튼의 오른쪽 버튼 색상 변경 */
  }
  
  .selected ~ button {
    background-color: #F3F4F6; /* 선택된 버튼의 왼쪽 버튼 색상 변경 */
  }