<app-banner />
<section class="flex flex-col w-full h-full mx-auto">
  <article class="flex w-full py-10 flex-col items-start">
    <div class="flex w-full flex-col items-start gap-6">
      <div class="flex justify-between items-center w-full">
        <div class="flex items-center gap-3">
          <div
            class="text-[#1F2937] text-[28px] not-italic font-bold leading-normal"
          >
            추천 상품
          </div>
          <h6 class="text-[#6B7280] not-italic font-semibold leading-normal">
            스카이필의 추천상품을 만나보세요
          </h6>
        </div>
        <div class="flex items-start border border-solid border-[#D1D5DB]">
          <button
            type="button"
            class="flex p-2.5 items-center gap-2.5 self-stretch"
          >
            <img src="assets/recommend/leftBt.png" />
          </button>
          <div
            class="flex p-2.5 justify-center items-center gap-2.5 border-l border-r border-solid border-l-[#E5E7EB] border-r-[#E5E7EB]"
          >
            <p
              class="text-[#374151] text-center text-sm not-italic leading-normal"
            >
              1/4
            </p>
          </div>
          <button
            type="button"
            class="flex p-2.5 items-center gap-2.5 self-stretch"
          >
            <img class="rotate-180" src="assets/recommend/leftBt.png" />
          </button>
        </div>
      </div>
    </div>
  </article>
  <div class="flex items-center justify-center">
    <article class="grid grid-cols-4 gap-6">
      <app-card [product]="product" *ngFor="let product of products" />
    </article>
  </div>
  <article
    class="flex w-full py-10 px-[100px] flex-col items-start gap-6 self-stretch bg-gray-100"
  >
    <div
      class="flex items-center text-gray-800 text-[28px] font-bold leading-normal"
    >
      관광 콘텐츠
    </div>
    <div class="flex justify-between items-center self-stretch">
      <div
        *ngFor="let content of contents; let i = index"
        class="flex justify-between items-center self-stretch"
      >
        <div *ngIf="i === 0">
          <img [src]="content.image" class="" />
        </div>
        <div class="flex flex-col items-start gap-3">
          <div *ngIf="i !== 0">
            <img [src]="content.image" class="" />
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
