<section class="flex flex-col gap-6 min-w-max">
  <p class="text-gray-800 text-2xl font-semibold">상품 정보</p>
  <article class="flex items-center text-center border-b-2 border-primary">
    <p
      *ngFor="let menu of menus"
      class="w-full py-2 px-5 border border-gray-200 cursor-pointer"
      (click)="handleClick(menu.id)"
      [class.bg-primary]="selectedButton === menu.id"
      [class.border-primary]="selectedButton === menu.id"
    >
      <span
        class="text-gray-700 text-sm font-medium leading-normal"
        [class.text-white]="selectedButton === menu.id"
        >{{ menu.name }}</span
      >
    </p>
  </article>
  <article
    id="summary"
    class="flex items-center gap-2"
    (click)="productSummaryEvent = !productSummaryEvent"
  >
    <p class="text-gray-800 text-xl font-semibold cursor-pointer">상품 요약</p>
    <img
      class="w-6 h-6"
      src="assets/icons/productDetailArrow.png"
      *ngIf="!productSummaryEvent"
    />
    <img
      class="w-6 h-6 rotate-180"
      src="assets/icons/productDetailArrow.png"
      *ngIf="productSummaryEvent"
    />
  </article>
  <article
    class="flex flex-col border-t-2 border-gray-400"
    *ngIf="productSummaryEvent"
  >
    <div class="flex w-full">
      <p
        class="flex py-4 px-5 content-center items-center border-r border-gray-200 bg-gray-100 text-gray-800 text-base font-semibold min-w-[11.3rem] justify-center"
      >
        여행지역
      </p>
      <p class="flex p-4 items-center text-gray-600 text-base font-semibold">
        광주>강원도>강원 지역 여행>광주
      </p>
    </div>
    <div class="flex w-full">
      <p
        class="flex py-4 px-5 content-center items-center border-r border-gray-200 bg-gray-100 text-gray-800 text-base font-semibold min-w-[11.3rem] justify-center"
      >
        인솔자
      </p>
      <p class="flex p-4 items-center text-gray-600 text-base font-semibold">
        인솔자 2명이 동행합니다. 김도은 가이드, 윤대현 가이드
      </p>
    </div>
    <div class="flex w-full">
      <p
        class="flex py-4 px-5 content-center items-center border-r border-gray-200 bg-gray-100 text-gray-800 text-base font-semibold min-w-[11.3rem] justify-center"
      >
        미팅장소
      </p>
      <p class="flex p-4 items-center text-gray-600 text-base font-semibold">
        광주 충장로역 3번 출구
      </p>
    </div>
  </article>
  <article
    id="detail"
    class="flex items-center gap-2"
    (click)="productDetailEvent = !productDetailEvent"
  >
    <p class="text-gray-800 text-xl font-semibold cursor-pointer">상품 상세</p>
    <img
      class="w-6 h-6"
      src="assets/icons/productDetailArrow.png"
      *ngIf="!productDetailEvent"
    />
    <img
      class="w-6 h-6 rotate-180"
      src="assets/icons/productDetailArrow.png"
      *ngIf="productDetailEvent"
    />
  </article>
  <img src="assets/images/productDetailData.png" *ngIf="productDetailEvent" />
  <article class="flex justify-center items-center" *ngIf="productDetailEvent">
    <div
      class="flex py-3 px-36 items-center rounded-sm bg-gray-600 cursor-pointer"
    >
      <p class="text-white text-base font-semibold">상품정보 더보기</p>
    </div>
  </article>
  <article
    id="keyPoint"
    class="flex items-center gap-2"
    (click)="keyPointEvent = !keyPointEvent"
  >
    <p class="text-gray-800 text-xl font-semibold cursor-pointer">
      핵심 포인트
    </p>
    <img
      class="w-6 h-6"
      src="assets/icons/productDetailArrow.png"
      *ngIf="!keyPointEvent"
    />
    <img
      class="w-6 h-6 rotate-180"
      src="assets/icons/productDetailArrow.png"
      *ngIf="keyPointEvent"
    />
  </article>
  <article class *ngIf="keyPointEvent">
    <div class="flex flex-col border-t-2 border-gray-400">
      <div class="flex w-full border-r border-b border-gray-200">
        <div
          class="flex py-4 px-5 justify-center items-center border-r border-gray-200 bg-gray-100 min-w-[11.3rem] gap-2.5 flex-col"
        >
          <img src="assets/icons/productDetailIcon1.png" />
          <p class="text-gray-800 text-base font-semibold">관광</p>
        </div>
        <div class="flex p-4 items-center">
          <ol class="text-gray-600 text-sm font-medium">
            <li>
              <p>디자인 느낌 보기 위해 임시로 다른상품의 정보 기입</p>
            </li>
            <br />
            <li>
              <p>비교할수록 다르다! 알펜루트 품격상품 혜택</p>
            </li>
            <li>
              <p>
                일본의 지붕 다테야마 연봉을 관통하는 알펜루트 전구간 횡단 포함
              </p>
            </li>
            <li>
              <p>
                일본에서 가장 깊은 V자 협곡인 구로베협곡의 대자연 감상 토롯코
                관광열차 탑승포함
              </p>
            </li>
            <li>
              <p>유네스코 세계유산으로 지정된 시라카와고 내부입장 포함</p>
            </li>
            <li>
              <p>일본 연회 코스 요리인 '가이세키' 석식 포함</p>
            </li>
            <li>
              <p>ALL포함/ 전일정 가이드/기사경비 [전일정 4,000엔] 포함</p>
            </li>
          </ol>
        </div>
      </div>
      <div class="flex w-full border-r border-b border-gray-200">
        <div
          class="flex py-4 px-5 justify-center items-center border-r border-gray-200 bg-gray-100 min-w-[11.3rem] gap-2.5 flex-col"
        >
          <img src="assets/icons/productDetailIcon2.png" />
          <p class="text-gray-800 text-base font-semibold">식사</p>
        </div>
        <div class="flex p-4 items-center">
          <ol class="text-gray-600 text-sm font-medium">
            <li>
              <p>일본 연회 코스 요리인 '가이세키' 석식 포함</p>
            </li>
            <li>
              <p>- 현지 3大 특식 : 다카야마 지역의 향토요리, 샤부샤부 정식</p>
            </li>
            <br />
            <li>
              <p>※ 현지 사정에 의해 메뉴 및 식당이 변경될 수 있습니다.</p>
            </li>
          </ol>
        </div>
      </div>
      <div class="flex w-full border-r border-b border-gray-200">
        <div
          class="flex py-4 px-5 justify-center items-center border-r border-gray-200 bg-gray-100 gap-2.5 flex-col min-w-[11.3rem]"
        >
          <img src="assets/icons/productDetailIcon3.png" />
          <p class="text-gray-800 text-base font-semibold">숙박</p>
        </div>
        <div class="flex p-4 items-center">
          <ol class="text-gray-600 text-sm font-medium">
            <li>
              <p>* 50년 전통의 여유롭게 즐기는 다카야마 그린 호텔 [특급] :</p>
            </li>
            <br />
            <li>
              <p>
                (다다미 또는 침대)└ : 2023년 2월 새롭게 리뉴얼한 탄산 온천 '풍아
                FUGA 風雅'♨ :
              </p>
            </li>
            <br />
            <li>
              <p>
                ※ 상기 호텔은 예정 호텔이며, 동급 호텔로 변경될 수 있습니다.※
                상기 예정 호텔은 3인 1실 이용 가능합니다.(다다미객실 : 침구 1개
                추가/침대객실: 엑스트라 베드)
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </article>
  <article
    id="notice"
    class="flex items-center gap-2"
    (click)="noticeEvent = !noticeEvent"
  >
    <p class="text-gray-800 text-xl font-semibold cursor-pointer">유의사항</p>
    <img
      class="w-6 h-6"
      src="assets/icons/productDetailArrow.png"
      *ngIf="!noticeEvent"
    />
    <img
      class="w-6 h-6 rotate-180"
      src="assets/icons/productDetailArrow.png"
      *ngIf="noticeEvent"
    />
  </article>
  <article class="flex flex-col gap-6" *ngIf="noticeEvent">
    <p class="text-gray-800 text-xl font-semibold">취소 약관</p>
    <div
      class="flex p-5 border-t-2 border-t-gray-800 border-x border-b border-gray-200 items-center"
    >
      <ol class="text-gray-600 text-sm font-medium">
        <li>
          <p>
            ▣ 예약 후 48시간내 예약금 1인당 300,000원씩 담당자가 알려드리는
            고객님의 가상계좌번호로 입금하여 주시기 바랍니다.
          </p>
          <p>
            ▣ 여권사본을 T.1666-3217 문자수신번호로 사진 전송해주시기 바랍니다.
            구두상의 예약기록은 안전하지 못합니다.
          </p>
          <p>
            ▣ 예약전 안내사항① 해당 상품의 모든 요금 및 서비스는 대한민국
            국적자를 대상으로 한 패키지 기준입니다.
          </p>
        </li>
      </ol>
    </div>
    <p class="text-gray-800 text-xl font-semibold">예약시 유의사항</p>
    <div
      class="flex p-5 border-t-2 border-t-gray-800 border-x border-b border-gray-200 items-center"
    >
      <ol class="text-gray-600 text-sm font-medium">
        ▣ 예약 후 48시간내 예약금 1인당 300,000원씩 담당자가 알려드리는 고객님의
        가상계좌번호로 입금하여 주시기 바랍니다.<br />
        ▣ 여권사본을 T.1666-3217 문자수신번호로 사진 전송해주시기 바랍니다.
        구두상의 예약기록은 안전하지 못합니다.<br />
        ▣ 예약전 안내사항① 해당 상품의 모든 요금 및 서비스는 대한민국 국적자를
        대상으로 한 패키지 기준입니다.
      </ol>
    </div>
    <p class="text-gray-800 text-xl font-semibold">여행지 정보</p>
    <div
      class="flex p-5 border-t-2 border-t-gray-800 border-x border-b border-gray-200 items-center"
    >
      <ol class="text-gray-600 text-sm font-medium">
        <li>
          <p>
            ▣ 예약 후 48시간내 예약금 1인당 300,000원씩 담당자가 알려드리는
            고객님의 가상계좌번호로 입금하여 주시기 바랍니다.
          </p>
          <p>
            ▣ 여권사본을 T.1666-3217 문자수신번호로 사진 전송해주시기 바랍니다.
            구두상의 예약기록은 안전하지 못합니다.
          </p>
          <p>
            ▣ 예약전 안내사항① 해당 상품의 모든 요금 및 서비스는 대한민국
            국적자를 대상으로 한 패키지 기준입니다.
          </p>
        </li>
      </ol>
    </div>
    <p class="text-gray-800 text-xl font-semibold">여행지안전정보</p>
    <div
      class="flex p-5 border-t-2 border-t-gray-800 border-x border-b border-gray-200 items-center"
    >
      <ol class="text-gray-600 text-sm font-medium">
        <li>
          <p>
            ▣ 예약 후 48시간내 예약금 1인당 300,000원씩 담당자가 알려드리는
            고객님의 가상계좌번호로 입금하여 주시기 바랍니다.
          </p>
          <p>
            ▣ 여권사본을 T.1666-3217 문자수신번호로 사진 전송해주시기 바랍니다.
            구두상의 예약기록은 안전하지 못합니다.
          </p>
          <p>
            ▣ 예약전 안내사항① 해당 상품의 모든 요금 및 서비스는 대한민국
            국적자를 대상으로 한 패키지 기준입니다.
          </p>
        </li>
      </ol>
    </div>
  </article>
  <article
    id="select"
    class="flex items-center gap-2"
    (click)="selectEvent = !selectEvent"
  >
    <p class="text-gray-800 text-xl font-semibold cursor-pointer">
      포함/불포함/선택
    </p>
    <img
      class="w-6 h-6"
      src="assets/icons/productDetailArrow.png"
      *ngIf="!selectEvent"
    />
    <img
      class="w-6 h-6 rotate-180"
      src="assets/icons/productDetailArrow.png"
      *ngIf="selectEvent"
    />
  </article>
  <article class="flex flex-col gap-5" *ngIf="selectEvent">
    <div class="flex flex-col border-t-2 border-t-gray-800">
      <div
        class="flex px-4 py-5 items-center gap-2.5 border-r border-l border-gray-200 bg-gray-100"
      >
        <img src="assets/icons/productDetailInclude.png" />
        <p class="text-gray-800 text-xl font-semibold">포함 내역</p>
      </div>
      <div class="flex p-4 border-x border-b border-gray-200 items-center">
        <ol class="text-gray-600 text-sm font-medium">
          <li>
            <p>▣ 호텔 3박- 2인 (킹룸)- 3인 (트윈룸)</p>
          </li>
        </ol>
      </div>
    </div>
    <div class="flex flex-col border-t-2 border-t-gray-800">
      <div
        class="flex px-4 py-5 items-center gap-2.5 border-r border-l border-gray-200 bg-gray-100"
      >
        <img src="assets/icons/productDetailNotInclude.png" />
        <p class="text-gray-800 text-xl font-semibold">불포함 내역</p>
      </div>
      <div class="flex p-4 border-x border-b border-gray-200 items-center">
        <ol class="text-gray-600 text-sm font-medium">
          <li>
            <p>▣ 왕복항공</p>
          </li>
        </ol>
      </div>
    </div>
    <div class="flex flex-col border-t-2 border-t-gray-800">
      <div
        class="flex px-4 py-5 items-center gap-2.5 border-r border-l border-gray-200 bg-gray-100"
      >
        <img src="assets/icons/productDetailSelect.png" />
        <p class="text-gray-800 text-xl font-semibold">선택 경비</p>
      </div>
      <div class="flex p-4 border-x border-b border-gray-200 items-center">
        <ol class="text-gray-600 text-sm font-medium">
          <li>
            <p>
              ▶예약접수 후 객실 상황은 실시간 기준으로 상담원과 확인 후
              확정됩니다.(객실 마감 또는 렌터카 요금 변동시 추가금액 발생할
              수있습니다)
            </p>
          </li>
        </ol>
      </div>
    </div>
  </article>
  <article
    id="detailSchedule"
    class="flex items-center gap-2"
    (click)="detailScheduleEvent = !detailScheduleEvent"
  >
    <p class="text-gray-800 text-xl font-semibold cursor-pointer">상세 일정</p>
    <img
      class="w-6 h-6"
      src="assets/icons/productDetailArrow.png"
      *ngIf="!detailScheduleEvent"
    />
    <img
      class="w-6 h-6 rotate-180"
      src="assets/icons/productDetailArrow.png"
      *ngIf="detailScheduleEvent"
    />
  </article>
  <article class="flex flex-col" *ngIf="detailScheduleEvent">
    <div class="flex border-t-2 border-gray-800 w-full">
      <div
        class="flex p-4 justify-center items-center border-x border-gray-200 bg-primary min-h-[6rem] min-w-[12rem]"
      >
        <p class="text-gray-50 text-xl font-semibold">1일차</p>
      </div>
      <div
        class="flex p-4 w-full items-center border-b border-r border-gray-200 justify-between"
        (click)="firstDay = !firstDay"
      >
        <p class="text-gray-800 text-base font-semibold">
          2023년 08월 01일 월요일
        </p>
        <img
          src="assets/icons/ArrowDown.png"
          class="rotate-180"
          *ngIf="firstDay"
        /><img src="assets/icons/ArrowDown.png" *ngIf="!firstDay" />
      </div>
    </div>
    <div *ngIf="firstDay">
      <div
        class="flex py-4 px-[100px] justify-center items-center relative border border-gray-200"
      >
        <div class="flex flex-col justify-center items-center gap-1">
          <p class="text-gray-800 text-center text-sm font-semibold">
            07/22(토) <br /><span class="text-xl">14:05</span>
          </p>
          <p class="text-gray-500 text-xs font-medium">인천국제공항 출발</p>
        </div>
        <img src="assets/icons/productDetailCircle.png" />
        <img src="assets/icons/productDetailBar.png" />
        <img src="assets/icons/productDetailCircle.png" />
        <div
          class="flex flex-col py-3 px-6 gap-1 border-2 border-primary z-10 absolute bg-white left-1/2 -translate-x-1/2"
        >
          <div class="flex justify-center">
            <img src="assets/icons/productDetailAirplane.png" />
          </div>
          <p class="text-gray-500 text-sm font-medium">BX188</p>
        </div>
        <div class="flex flex-col justify-center items-center gap-1">
          <p class="text-gray-800 text-center text-sm font-semibold">
            07/22(토) <br /><span class="text-xl">14:05</span>
          </p>
          <p class="text-gray-500 text-xs font-medium">인천국제공항 출발</p>
        </div>
      </div>
      <div class="flex flex-col border-t-2 border-gray-400">
        <div class="flex w-full border-r border-b border-gray-200">
          <div
            class="flex py-4 px-5 justify-center items-center border-r border-gray-200 bg-gray-100 min-w-[11.3rem] gap-2.5 flex-col"
          >
            <img src="assets/icons/productDetailSchedule.png" />
            <p class="text-gray-800 text-base font-semibold">일정</p>
          </div>
          <div class="flex p-4 items-center">
            <ol class="text-gray-600 text-sm font-medium">
              <li>
                <p>디자인 느낌 보기 위해 임시로 다른상품의 정보 기입</p>
              </li>
              <br />
              <li>
                <p>비교할수록 다르다! 알펜루트 품격상품 혜택</p>
              </li>
              <li>
                <p>
                  일본의 지붕 다테야마 연봉을 관통하는 알펜루트 전구간 횡단 포함
                </p>
              </li>
              <li>
                <p>
                  일본에서 가장 깊은 V자 협곡인 구로베협곡의 대자연 감상 토롯코
                  관광열차 탑승포함
                </p>
              </li>
              <li>
                <p>유네스코 세계유산으로 지정된 시라카와고 내부입장 포함</p>
              </li>
              <li>
                <p>일본 연회 코스 요리인 '가이세키' 석식 포함</p>
              </li>
              <li>
                <p>ALL포함/ 전일정 가이드/기사경비 [전일정 4,000엔] 포함</p>
              </li>
            </ol>
          </div>
        </div>
        <div class="flex w-full border-r border-b border-gray-200">
          <div
            class="flex py-4 px-5 justify-center items-center border-r border-gray-200 bg-gray-100 min-w-[11.3rem] gap-2.5 flex-col"
          >
            <img src="assets/icons/productDetailIcon2.png" />
            <p class="text-gray-800 text-base font-semibold">식사</p>
          </div>
          <div class="flex p-4 items-center">
            <ol class="text-gray-600 text-sm font-medium">
              <li>
                <p>일본 연회 코스 요리인 '가이세키' 석식 포함</p>
              </li>
              <li>
                <p>- 현지 3大 특식 : 다카야마 지역의 향토요리, 샤부샤부 정식</p>
              </li>
              <br />
              <li>
                <p>※ 현지 사정에 의해 메뉴 및 식당이 변경될 수 있습니다.</p>
              </li>
            </ol>
          </div>
        </div>
        <div class="flex w-full border-r border-b border-gray-200">
          <div
            class="flex py-4 px-5 justify-center items-center border-r border-gray-200 bg-gray-100 min-w-[11.3rem] gap-2.5 flex-col"
          >
            <img src="assets/icons/productDetailIcon3.png" />
            <p class="text-gray-800 text-base font-semibold">숙박</p>
          </div>
          <div class="flex p-4 items-center">
            <ol class="text-gray-600 text-sm font-medium">
              <li>
                <p>* 50년 전통의 여유롭게 즐기는 다카야마 그린 호텔 [특급] :</p>
              </li>
              <br />
              <li>
                <p>
                  (다다미 또는 침대)└ : 2023년 2월 새롭게 리뉴얼한 탄산 온천
                  '풍아 FUGA 風雅'♨ :
                </p>
              </li>
              <br />
              <li>
                <p>
                  ※ 상기 호텔은 예정 호텔이며, 동급 호텔로 변경될 수 있습니다.※
                  상기 예정 호텔은 3인 1실 이용 가능합니다.(다다미객실 : 침구
                  1개 추가/침대객실: 엑스트라 베드)
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article
    id="review"
    class="flex items-center gap-2"
    (click)="reviewEvent = !reviewEvent"
  >
    <p class="text-gray-800 text-xl font-semibold cursor-pointer">
      여행후기(32)
    </p>
    <img
      class="w-6 h-6"
      src="assets/icons/productDetailArrow.png"
      *ngIf="!reviewEvent"
    />
    <img
      class="w-6 h-6 rotate-180"
      src="assets/icons/productDetailArrow.png"
      *ngIf="reviewEvent"
    />
  </article>
  <article class="flex flex-col border-t-2 border-gray-700" *ngIf="reviewEvent">
    <div class="flex py-5 items-center border-b border-gray-200 bg-gray-50">
      <div class="flex px-10 gap-5 items-center w-full">
        <p class="text-gray-800 text-base font-semibold min-w-[6rem]">번호</p>
        <p class="text-gray-800 text-base font-semibold min-w-[6rem]">
          상품종류
        </p>
        <p class="text-gray-800 text-base font-semibold w-full">제목</p>
        <p
          class="text-gray-800 text-base text-center font-semibold min-w-[6rem]"
        >
          작성자
        </p>
        <p
          class="text-gray-800 text-base text-center font-semibold min-w-[6rem]"
        >
          등록일
        </p>
        <p
          class="text-gray-800 text-base text-center font-semibold min-w-[6rem]"
        >
          추천수
        </p>
      </div>
    </div>
    <div *ngFor="let review of reviews; let i = index" (click)="reviewClick(i)">
      <div
        class="flex py-5 px-10 items-center gap-5 border-b border-gray-200 w-full"
        [class.bg-gray-100]="i === activeIndex"
      >
        <p class="text-gray-800 text-base font-medium min-w-[6rem]">
          {{ review.id }}
        </p>
        <p class="text-gray-800 text-base font-medium min-w-[6rem]">
          {{ review.productType }}
        </p>
        <p class="text-gray-800 text-base font-semibold w-full">
          {{ review.title }}
        </p>
        <p
          class="text-gray-500 text-base text-center font-semibold min-w-[6rem]"
        >
          {{ review.writer }}
        </p>
        <p
          class="text-gray-500 text-base text-center font-semibold min-w-[6rem]"
        >
          {{ review.createAt }}
        </p>
        <p
          class="text-gray-500 text-base text-center font-semibold min-w-[6rem]"
        >
          {{ review.recommend }}
        </p>
      </div>
      <div class="flex p-5 border border-gray-200" *ngIf="i === activeIndex">
        <p class="text-gray-600 text-base font-semibold min-h-[240px]">
          {{ review.description }}
        </p>
      </div>
    </div>
  </article>
</section>
