<section class="flex py-[60px] px-[100px] flex-col gap-6">
  <article class="flex justify-between items-center">
    <p class="text-gray-800 text-[28px] font-bold leading-normal">
      최근 본 상품
    </p>
    <div class="flex justify-end items-center">
      <div class="flex items-center gap-1">
        <img src="assets/icons/HouseIcon.png" />
        <p class="text-gray-600 text-sm font-medium leading-normal">홈</p>
      </div>
      <div class="flex p-2.5 items-center">
        <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
      </div>
      <p class="text-gray-600 text-sm font-medium leading-normal">마이페이지</p>
      <div class="flex p-2.5 items-center">
        <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
      </div>
      <p class="text-gray-600 text-sm font-medium leading-normal">
        최근 본 상품
      </p>
    </div>
  </article>
  <article class="flex flex-col gap-3 h-full">
    <div class="flex justify-between items-center">
      <p class="text-base font-bold text-gray-800">
        총 10개의 상품이 있습니다.
      </p>
      <div class="flex justify-end items-center">
        <app-input-text placeholder="검색명" class="w-[30rem]" />
      </div>
    </div>
    <div class="flex flex-col gap-10">
      <img src="assets/icons/Vector607.png" />
      <div class="flex justify-center gap-6">
        <app-card [product]="product" *ngFor="let product of products" />
      </div>
      <div class="flex justify-center gap-6">
        <app-card [product]="product" *ngFor="let product of products" />
      </div>
    </div>
    <app-paginator />
  </article>
</section>
