<!-- 버튼 눌렀을때 색 변하고 -->
<section class="flex py-[60px] px-[100px] flex-col w-full h-full">
  <article class="flex flex-col gap-6">
    <div class="flex justify-between items-center">
      <p class="text-gray-800 text-3xl font-bold leading-normal">
        해외여행 추천상품
      </p>
      <div class="flex justify-end items-center">
        <div class="flex items-center gap-1">
          <img src="assets/icons/HouseIcon.png" />
          <p class="text-gray-600 text-base font-medium leading-normal">홈</p>
        </div>
        <div class="flex p-2.5 items-center">
          <img src="assets/icons/myCountryTravelGt.png" class="gray-400" />
        </div>
        <p class="text-gray-600 text-base font-medium leading-normal">
          해외여행
        </p>
      </div>
    </div>
    <div class="flex justify-center gap-6">
      <app-card [product]="product" *ngFor="let product of products" />
    </div>
    <p class="text-gray-800 text-3xl font-bold leading-normal">해외여행</p>
    <div class="flex justify-center items-center text-center">
      <p
        *ngFor="let legion of legions"
        class="w-full py-2 px-5 border border-gray-200 cursor-pointer"
        (click)="changeButtonColor(legion.name)"
        [class.bg-primary]="selectedButton === legion.name"
      >
        <span
          class="text-gray-700 text-sm font-medium leading-normal"
          [class.text-white]="selectedButton === legion.name"
          >{{legion.name}}</span
        >
      </p>
    </div>
    <div class="flex flex-col border-b-2 border-gray-800">
      <div class="flex gap-[-1px]">
        <button
          class="flex py-3 px-5 border-t border-x border-gray-300 bg-gray-100"
        >
          <span class="text-sm font-semibold text-gray-500">아시아</span>
        </button>
        <button class="flex py-3 px-5 border-t border-x border-gray-300">
          <span class="text-sm font-semibold text-gray-500">일본</span>
        </button>
      </div>
    </div>
    <p class="text-gray-950 text-2xl font-bold leading-normal">
      무안출발-아시아
    </p>
    <div class="flex flex-col justify-center gap-10">
      <div class="flex justify-center gap-6">
        <app-card [product]="product" *ngFor="let product of products" />
      </div>
      <div class="flex justify-center gap-6">
        <app-card [product]="product" *ngFor="let product of products" />
      </div>
      <app-pagenator />
    </div>
  </article>
</section>
